@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('../fonts/myriad-pro.css');
@import url('../fonts/gap.css');

body {
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	color:#656d70;
	line-height:1.8em;
	font-weight:400;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}

.preloader{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999999;
	background-color:#ffffff;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(../images/preloader.svg);
}

.navbar-top{
	background-color: #12224d;
	text-align: right;
	font-size: 15px;
	color: #ffffff;
}

.navbar-top a{
	color: inherit;
	text-decoration: none;
}

.navbar-top .icon{
	color: #93c317;
	font-size: 18px;
	display: inline-block;
	margin: 0 4px;
}

.navbar-top .separator{
	display: inline-block;
	margin: 0 6px;
	border-left: solid 1px #93c317;
	height: 15px;
}

.navbar-top .shortcut{
	display: inline-block;
	width: auto;
}

.navbar.main{
	padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link{
	font-size: 18px;
	font-weight: 600;
	color: #232665;
	padding: 35px 0 40px;
	margin-left: 25px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{  
	color: #232665;
	border-bottom: solid 5px #93c317;
}


/* CAROUSEL */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	top: 45%;
	outline: none;
}

.owl-prev{
	left: 2%;
}

.owl-next{
	right: 2%;
}

.owl-prev span,
.owl-next span{
	font-size: 60px;
	color: #9c9da0;
}

.owl-carousel .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 40px;
	text-align: center;
}

.owl-carousel button.owl-dot{
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: solid 1px #ffffff;
	border-radius: 15px;
	margin: 5px;
	outline: none;
}

.owl-carousel button.owl-dot.active{
	background-color: #93c317;
	border-color: #93c317;
}

.carousel-caption{
	bottom: 80px;
}

.carousel-caption h2{
	position: relative;
	display: inline-block;
	font-size: 70px;
	font-weight: 700;
	line-height: 1em;
	color: #ffffff;
	margin-bottom: 80px;
}

.carousel-caption h2:after{
	content: "";
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 145px;
	height: 6px;
	background-color: #ffffff;
}

.carousel-caption .info{
	position: relative;
	display: table;
	width: 1100px;
	margin: 30px auto;
	background-color: #ffffff;
}

.carousel-caption .info .text{
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	height: auto;
	background-color: #1b1a45;
	color: #ffffff;
	font-size: 38px;
	line-height: 42px;
	text-align: left;
	padding: 30px;
	font-style: italic;
}



/* MEDIA QUERIES */

@media (max-width: 1199px) {
	
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}



























































