@charset "UTF-8";
@import url("../fonts/myriad-pro.css");
@import url("../fonts/font-gap.css");
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-style: normal; }
.borderR {
  border-right: 1px solid #a9a9a9; }

.borderB {
  border-bottom: 1px solid #a9a9a9; }

.card {
  max-width: 450px;
  background-color: #f7f7f7;
  border-radius: 0px;
  margin-bottom: 40px;
  border: 0px; }
  .card img {
    border-radius: 0px;
    max-height: 350px; }
  .card .card-body {
    border: 1px solid #545454; }
    .card .card-body h4 {
      color: #1b1a45;
      font-size: 24px;
      font-family: 'Myriad Pro Bold';
      font-style: italic; }
    .card .card-body p {
      font-size: 16px;
      color: #6f6f6f;
      margin-bottom: 10px;
      font-family: 'Myriad Pro'; }
      .card .card-body p span {
        font-size: 30px;
        color: #93c317;
        margin-right: 15px;
        float: left; }
        .card .card-body p span::before {
          vertical-align: middle; }
      .card .card-body p:nth-child(1) {
        font-size: 18px; }
      .card .card-body p strong {
        font-family: 'Myriad Pro Bold';
        font-style: italic; }

#modalAnuncio {
  background-color: rgba(0, 0, 0, 0.7); }
  #modalAnuncio .modal-lg {
    max-width: 1200px; }
    #modalAnuncio .modal-lg .modal-body {
      background-color: black;
      padding: 0px; }
      #modalAnuncio .modal-lg .modal-body .close {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 40px;
        height: 40px;
        background-color: #93c317;
        opacity: 1;
        border-radius: 50%; }
        #modalAnuncio .modal-lg .modal-body .close span {
          color: white;
          font-size: 40px; }
      #modalAnuncio .modal-lg .modal-body .mobile {
        display: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #656d70;
  line-height: 1.8em;
  font-weight: 400;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased; }
  body .preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.svg); }
  body .navbar-top {
    background-color: #12224d;
    text-align: right;
    font-size: 15px;
    color: #ffffff; }
    body .navbar-top a {
      color: inherit;
      text-decoration: none; }
    body .navbar-top .icon {
      color: #93c317;
      font-size: 18px;
      display: inline-block;
      margin: 0 4px; }
    body .navbar-top .separator {
      display: inline-block;
      margin: 0 6px;
      border-left: solid 1px #93c317;
      height: 15px; }
    body .navbar-top .shortcut {
      display: inline-block;
      width: auto; }
  body .navbar.main {
    padding-bottom: 0; }
  body .navbar .navbar-brand img {
    vertical-align: top;
    margin-top: 10px;
    width: 110px; }
    body .navbar .navbar-brand img:nth-child(3) {
      width: 75px; }
  body .navbar .navbar-brand .division {
    width: 1px;
    height: 90px;
    background-color: #c7c7c7;
    display: inline-block;
    margin: 0px 20px; }
  body .navbar.navbar-light .navbar-nav .active .nav-link {
    color: #232665;
    border-bottom: solid 5px #93c317; }
  body .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: #232665;
    padding: 35px 0 40px;
    margin-left: 25px;
    border-bottom: solid 5px white; }
    body .navbar.navbar-light .navbar-nav .nav-link:focus, body .navbar.navbar-light .navbar-nav .nav-link:hover {
      color: #232665;
      border-bottom: solid 5px #93c317; }
  body .btn-contacto {
    background-color: #93c317;
    position: fixed;
    top: 40%;
    left: -65px;
    width: 193px;
    height: 64px;
    z-index: 2;
    padding: 20px 35px;
    transform: rotate(-90deg); }
    body .btn-contacto a {
      color: white;
      font-family: 'Montserrat-Bold';
      font-size: 20px;
      text-decoration: none;
      display: block; }
      body .btn-contacto a span {
        display: none;
        font-size: 40px;
        text-align: center; }
  body .owl-carousel#main-carousel {
    height: 770px; }
    body .owl-carousel#main-carousel .item-carousel {
      height: 770px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      body .owl-carousel#main-carousel .item-carousel.palacio {
        background-image: url(../images/slider-1.jpg); }
      body .owl-carousel#main-carousel .item-carousel.angel {
        background-image: url(../images/slider-2.jpg); }
  body .owl-carousel .carousel-caption {
    bottom: 80px; }
    body .owl-carousel .carousel-caption h2 {
      position: relative;
      display: inline-block;
      font-size: 70px;
      font-weight: 700;
      line-height: 1em;
      color: #ffffff;
      margin-bottom: 80px;
      font-family: 'Montserrat-Bold'; }
      body .owl-carousel .carousel-caption h2::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 145px;
        height: 6px;
        background-color: #ffffff; }
    body .owl-carousel .carousel-caption .info {
      position: relative;
      display: table;
      width: 1000px;
      margin: 30px auto;
      background-color: #ffffff; }
      body .owl-carousel .carousel-caption .info .text {
        width: 42%;
        display: table-cell;
        vertical-align: middle;
        height: auto;
        background-color: #161842;
        color: #ffffff;
        font-size: 38px;
        line-height: 40px;
        text-align: left;
        padding: 30px;
        font-style: italic;
        position: relative;
        font-family: 'Myriad Pro'; }
        body .owl-carousel .carousel-caption .info .text strong {
          font-family: 'Myriad Pro Bold';
          font-style: italic; }
        body .owl-carousel .carousel-caption .info .text::after {
          content: "";
          display: block;
          width: 26px;
          height: 50px;
          background-image: url(../images/arrow-right.png);
          position: absolute;
          right: -23px;
          top: 35px; }
      body .owl-carousel .carousel-caption .info .cta {
        display: table-cell;
        vertical-align: middle;
        background-color: #93c317;
        font-family: 'Myriad Pro';
        padding: 20px;
        padding-left: 10px; }
        body .owl-carousel .carousel-caption .info .cta p {
          font-size: 30px;
          font-style: italic;
          display: inline-block;
          line-height: 35px;
          text-align: left; }
          body .owl-carousel .carousel-caption .info .cta p span {
            font-size: 36px;
            font-family: 'Myriad Pro Bold'; }
        body .owl-carousel .carousel-caption .info .cta .btn {
          background-color: white;
          color: #12224d;
          font-weight: bold;
          width: 245px;
          height: 58px;
          font-size: 18px;
          border-radius: 0px;
          padding: 15px;
          vertical-align: top;
          margin-left: 40px;
          margin-top: 10px;
          font-family: 'Montserrat-Bold'; }
          body .owl-carousel .carousel-caption .info .cta .btn:hover {
            background-color: #12224d;
            color: white; }
  body .owl-carousel .owl-nav button {
    position: absolute;
    top: 45%;
    outline: none; }
    body .owl-carousel .owl-nav button span {
      font-size: 60px;
      color: #9c9da0; }
    body .owl-carousel .owl-nav button.owl-next {
      right: 7%; }
    body .owl-carousel .owl-nav button.owl-prev {
      left: 7%; }
  body .owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 40px;
    text-align: center; }
    body .owl-carousel .owl-dots .owl-dot {
      display: inline-block;
      position: relative;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: solid 1px #ffffff;
      border-radius: 15px;
      margin: 5px;
      outline: none; }
      body .owl-carousel .owl-dots .owl-dot.active {
        background-color: #93c317;
        border-color: #93c317; }
  body section {
    /*Página quienes somos*/ }
    body section.intro {
      padding: 120px 0px 105px; }
      body section.intro img {
        display: block; }
      body section.intro p {
        font-size: 18px;
        color: #6f6f6f;
        font-family: 'Myriad Pro';
        text-align: center;
        max-width: 755px;
        margin: 27px auto 0; }
        body section.intro p strong {
          font-family: 'Myriad Pro Bold'; }
        body section.intro p::before {
          content: "";
          display: block;
          width: 63px;
          height: 3px;
          background-color: #93c317;
          margin: 22px auto 30px; }
      body section.intro .features {
        margin-top: 60px; }
        body section.intro .features div[class*="col-"] {
          border-right: 1px solid #a9a9a9; }
          body section.intro .features div[class*="col-"]:last-child {
            border-right: 0px; }
        body section.intro .features h3 {
          color: #93c317;
          font-family: 'Montserrat-Bold';
          text-align: center;
          font-size: 37px; }
        body section.intro .features p {
          font-family: 'Montserrat';
          color: #6f6f6f;
          font-size: 24px;
          margin-top: 0px; }
      body section.intro .btn {
        width: 211px;
        height: 50px;
        background-color: #232665;
        border-radius: 0px;
        font-family: 'Montserrat-Bold';
        color: white;
        font-size: 18px;
        padding: 12px 0px;
        margin: 70px auto 0; }
        body section.intro .btn:hover {
          background-color: #93c317;
          color: white; }
    body section.on-sale {
      background: linear-gradient(to right, #151543 0%, #151543 45%, #93c317 45%);
      padding: 90px 0px 30px;
      position: relative; }
      body section.on-sale::after {
        content: "";
        display: block;
        width: 100px;
        height: 50px;
        background-image: url(../images/arrow-down.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -50px;
        left: 35%; }
      body section.on-sale h2 {
        color: white;
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        margin-top: 50px; }
        body section.on-sale h2::after {
          content: "";
          display: block;
          width: 64px;
          height: 3px;
          background-color: #93c317;
          margin-top: 15px;
          margin-bottom: 22px; }
      body section.on-sale p {
        font-size: 18px;
        font-family: 'Myriad Pro';
        color: #b3b3b3;
        display: inline-block;
        max-width: 360px; }
      body section.on-sale h3 {
        font-family: 'Montserrat-Bold';
        color: white;
        font-size: 36px;
        margin-bottom: 45px; }
      body section.on-sale ul {
        list-style-type: none;
        padding-left: 0px; }
        body section.on-sale ul li {
          float: left;
          width: 50%;
          margin-bottom: 70px; }
          body section.on-sale ul li span {
            font-size: 60px;
            display: inline-block;
            width: 115px;
            height: 115px;
            background-color: white;
            text-align: center;
            border-radius: 50%;
            padding-top: 6%;
            color: #1b1a45; }
          body section.on-sale ul li p {
            color: white;
            vertical-align: middle;
            margin-top: -25px;
            margin-left: 25px;
            font-family: 'Myriad Pro';
            font-size: 26px; }
            body section.on-sale ul li p strong {
              display: block;
              font-family: 'Myriad Pro Bold';
              font-style: italic; }
    body section.developments {
      margin-top: 100px; }
      body section.developments .info {
        position: relative;
        max-width: 565px;
        max-height: 425px;
        overflow: hidden;
        margin-bottom: 30px; }
        body section.developments .info img {
          transition: transform .3s ease-in;
          max-width: 120%; }
        body section.developments .info a {
          position: absolute;
          width: 100%;
          max-width: 565px;
          height: 100%;
          top: 0;
          left: 0;
          text-decoration: none;
          padding-top: 25%;
          padding-right: 80px;
          padding-left: 80px;
          bottom: 0;
          right: 0;
          text-align: center;
          transition: background-color .3s ease-out; }
          body section.developments .info a .icon-link {
            padding: 7px;
            display: none;
            color: #93c317;
            border: 1px solid #93c317;
            width: 37px;
            height: 37px;
            font-size: 20px;
            position: absolute;
            top: 20%;
            left: calc(50% - 18px); }
          body section.developments .info a h3 {
            color: white;
            font-family: 'Montserrat-Bold';
            font-size: 36px;
            margin-bottom: 5px; }
          body section.developments .info a p {
            color: white;
            font-family: 'Myriad Pro';
            font-size: 22px;
            margin-bottom: 5px; }
            body section.developments .info a p span::before {
              vertical-align: top;
              margin-right: 10px; }
          body section.developments .info a .price {
            color: #93c317;
            font-family: 'Myriad Pro Bold';
            font-style: italic;
            font-size: 24px; }
            body section.developments .info a .price::before {
              content: "";
              display: block;
              width: 30px;
              height: 2px;
              background-color: white;
              margin: 45px auto 15px; }
        body section.developments .info:hover img {
          transform: scale(1.1); }
        body section.developments .info:hover a {
          background-color: #00011c;
          opacity: 0.8; }
          body section.developments .info:hover a .icon-link {
            display: inline-block; }
      body section.developments div[class*="col-"]:nth-child(3n+1) .info {
        margin-left: auto; }
      body section.developments div[class*="col-"]:nth-child(3n+3) .info {
        margin-right: auto; }
      body section.developments div[class*="col-"]:nth-child(3n+2) .info {
        margin-left: auto;
        margin-right: auto; }
    body section.testimonials {
      background-image: url(../images/background-testimoniales.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 66px 0px 52px; }
      body section.testimonials .container-fluid {
        max-width: 70%; }
      body section.testimonials h2 {
        font-family: 'Montserrat-Bold';
        font-size: 40px;
        color: white;
        text-align: center; }
        body section.testimonials h2::after {
          content: "";
          display: block;
          margin: 10px auto 25px;
          width: 48px;
          height: 4px;
          background-color: #93c317; }
      body section.testimonials p {
        font-size: 18px;
        color: #b3b3b3;
        font-family: 'Myriad Pro';
        text-align: center; }
      body section.testimonials .owl-carousel {
        margin-top: 20px;
        max-width: 95%; }
        body section.testimonials .owl-carousel .owl-item {
          padding-left: 100px; }
          body section.testimonials .owl-carousel .owl-item .item {
            background-color: #93c317;
            max-width: 476px;
            padding-top: 40px;
            height: 277px;
            margin: 0 auto; }
            body section.testimonials .owl-carousel .owl-item .item .photo {
              width: 170px;
              height: auto;
              display: inline-block;
              margin-left: -100px;
              position: absolute;
              margin-top: 12px;
              border: 5px solid white; }
            body section.testimonials .owl-carousel .owl-item .item .text {
              width: 65%;
              display: block;
              text-align: center;
              margin: 0 auto; }
              body section.testimonials .owl-carousel .owl-item .item .text h6 {
                font-family: 'Montserrat-Bold';
                font-size: 22px;
                color: white;
                margin-bottom: 20px; }
              body section.testimonials .owl-carousel .owl-item .item .text p {
                color: white;
                font-family: 'Myriad Pro';
                font-style: italic;
                font-size: 20px;
                height: 100px; }
        body section.testimonials .owl-carousel .owl-dots {
          position: relative;
          bottom: 0px;
          margin-top: 40px; }
    body section.contact {
      margin-top: 80px;
      background-color: #ededed;
      position: relative; }
      body section.contact #map {
        height: 100%; }
      body section.contact h2 {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        color: #1b1a45;
        margin-top: 132px;
        margin-left: 25%; }
        body section.contact h2::after {
          content: "";
          display: block;
          width: 65px;
          height: 3px;
          background-color: #93c317;
          margin-top: 15px; }
      body section.contact p {
        font-family: 'Myriad Pro';
        font-size: 18px;
        color: #12224d;
        margin-top: 55px;
        margin-left: 25%; }
      body section.contact .form-contact {
        margin-left: 25%;
        margin-bottom: 75px; }
        body section.contact .form-contact input[type="text"],
        body section.contact .form-contact input[type="email"] {
          border-radius: 0px;
          height: 53px;
          color: #a9a9a9;
          max-width: 547px; }
        body section.contact .form-contact select {
          height: 53px !important;
          border-radius: 0px;
          -webkit-appearance: none;
          max-width: 547px;
          margin-bottom: 10px;
          position: relative;
          background: url(../images/down-arrow.png) no-repeat right white;
          background-size: 15px;
          background-position-x: 95%; }
        body section.contact .form-contact textarea {
          border-radius: 0px;
          height: 111px;
          color: #a9a9a9;
          max-width: 547px; }
        body section.contact .form-contact #captcha_value {
          display: inline-block;
          width: 46%; }
        body section.contact .form-contact .completar {
          margin: 0px 0px 0px 22px;
          width: 165px;
          height: 53px;
          background-color: #93c317;
          padding: 15px 35px;
          display: inline-block;
          color: white;
          font-family: 'Myriad Pro';
          font-size: 18px;
          text-align: center;
          vertical-align: top; }
        body section.contact .form-contact #captcha_value-error {
          display: block; }
        body section.contact .form-contact .error {
          color: red; }
        body section.contact .form-contact .form-check label {
          color: #12224d;
          font-size: 16px;
          font-family: 'Myriad Pro'; }
          body section.contact .form-contact .form-check label a {
            font-family: 'Myriad Pro Bold';
            color: #12224d;
            text-decoration: underline; }
        body section.contact .form-contact button {
          width: 210px;
          height: 50px;
          background-color: #12224d;
          border-radius: 0px;
          border-color: transparent;
          margin-bottom: 130px; }
          body section.contact .form-contact button:hover {
            background-color: #93c317;
            color: white; }
      body section.contact .offices {
        background-color: #191c55;
        opacity: .96;
        max-width: 480px;
        padding: 30px 80px 30px 80px;
        position: absolute;
        top: 15%;
        left: 53%;
        z-index: 1; }
        body section.contact .offices .icon-pin {
          font-size: 47px;
          color: white;
          background-color: #93c317;
          width: 75px;
          height: 75px;
          display: block;
          border-radius: 50%;
          margin: 0 auto 14px;
          padding: 15px; }
        body section.contact .offices h6 {
          font-size: 28px;
          font-family: 'Myriad Pro Bold';
          color: white;
          text-align: center;
          margin-bottom: 20px; }
        body section.contact .offices ul {
          list-style-type: none;
          padding-left: 0px; }
          body section.contact .offices ul li {
            position: relative; }
            body section.contact .offices ul li a:hover {
              text-decoration: none; }
            body section.contact .offices ul li h5 {
              color: #93c317;
              font-family: 'Myriad Pro Bold';
              font-style: italic;
              font-size: 20px;
              margin-bottom: 0px; }
              body section.contact .offices ul li h5::before {
                content: "";
                width: 12px;
                height: 2px;
                background-color: #93c317;
                display: block;
                position: absolute;
                left: -20px;
                top: 10px; }
            body section.contact .offices ul li p {
              font-family: 'Myriad Pro';
              font-size: 16px;
              color: white;
              margin-top: 0px;
              margin-left: 0px; }
      body section.contact.page-contact {
        margin-top: 0px; }
        body section.contact.page-contact h2 {
          margin-top: 300px; }
        body section.contact.page-contact .oficinas {
          position: absolute;
          z-index: 10;
          width: 100%; }
          body section.contact.page-contact .oficinas ul {
            list-style-type: none;
            padding-left: 0px;
            width: 87%;
            margin: 0 auto;
            display: flex;
            flex-direction: row; }
            body section.contact.page-contact .oficinas ul li {
              padding-top: 40px;
              padding-left: 20px;
              padding-right: 15px;
              padding-bottom: 15px; }
              body section.contact.page-contact .oficinas ul li:nth-child(2n +1) {
                background-color: #93c317; }
              body section.contact.page-contact .oficinas ul li:first-child {
                background-color: #1b1a45;
                width: 300px; }
                body section.contact.page-contact .oficinas ul li:first-child h3 {
                  font-size: 30px;
                  font-family: 'Myriad Pro Bold';
                  font-style: italic;
                  color: white; }
              body section.contact.page-contact .oficinas ul li:nth-child(2n +2) {
                background-color: #8bba16; }
              body section.contact.page-contact .oficinas ul li:hover:not(:first-child) {
                background-color: white;
                border-bottom: 4px solid #93c317; }
                body section.contact.page-contact .oficinas ul li:hover:not(:first-child) a {
                  text-decoration: none; }
                  body section.contact.page-contact .oficinas ul li:hover:not(:first-child) a h5 {
                    color: #1b1a45; }
                    body section.contact.page-contact .oficinas ul li:hover:not(:first-child) a h5::before {
                      background-color: #93c317; }
                  body section.contact.page-contact .oficinas ul li:hover:not(:first-child) a p {
                    color: #1b1a45; }
              body section.contact.page-contact .oficinas ul li a h5 {
                color: white;
                font-family: 'Myriad Pro Bold';
                font-style: italic;
                font-size: 28px;
                margin-bottom: 0px;
                position: relative; }
                body section.contact.page-contact .oficinas ul li a h5::before {
                  content: "";
                  width: 12px;
                  height: 2px;
                  background-color: white;
                  display: inline-block;
                  position: relative;
                  vertical-align: middle;
                  margin-right: 12px; }
              body section.contact.page-contact .oficinas ul li a p {
                font-family: 'Myriad Pro';
                font-size: 16px;
                color: white;
                margin-top: 0px;
                margin-left: 0px; }
    body section.header {
      background-image: url(../images/header-detalle-desarrollos.png);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 145px 0px 135px; }
      body section.header h1 {
        color: white;
        font-family: 'Montserrat-Bold';
        font-size: 40px;
        text-align: center; }
        body section.header h1::after {
          content: "";
          display: block;
          width: 75px;
          height: 6px;
          background-color: white;
          margin: 15px auto 0px; }
      body section.header.quienes-somos {
        background-image: url(../images/header-quienes-somos.png);
        background-size: cover; }
    body section.espacios {
      padding-top: 100px; }
      body section.espacios h2 {
        font-size: 37px;
        font-family: 'Montserrat-Bold';
        color: #232665; }
        body section.espacios h2 span {
          color: #93c317; }
        body section.espacios h2::after {
          content: "";
          display: block;
          width: 64px;
          height: 3px;
          background-color: #93c317;
          margin-top: 22px; }
      body section.espacios .direccion {
        margin-top: 20px;
        padding-left: 28px;
        font-family: 'Myriad Pro';
        color: #6f6f6f;
        font-size: 18px; }
        body section.espacios .direccion span {
          margin-left: -25px;
          margin-right: 10px;
          float: left; }
        body section.espacios .direccion a {
          text-align: left;
          color: #93c317;
          display: block;
          font-size: 16px;
          font-family: 'Myriad Pro';
          text-decoration: underline;
          padding-left: 10px; }
      body section.espacios ul {
        margin-top: 60px;
        margin-bottom: 120px;
        padding-left: 0px;
        list-style-type: none; }
        body section.espacios ul li {
          display: inline-block;
          font-size: 18px;
          font-family: 'Myriad Pro';
          color: #6f6f6f;
          position: relative;
          vertical-align: top;
          width: 25%;
          height: 135px;
          padding: 27px 80px 0px;
          text-align: center; }
          body section.espacios ul li span {
            display: block;
            text-align: center;
            color: #93c317;
            font-size: 30px;
            margin-bottom: 15px; }
            body section.espacios ul li span::before {
              vertical-align: middle; }
      body section.espacios .image-view {
        position: relative;
        width: 100%;
        height: 480px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px; }
        body section.espacios .image-view .info {
          position: absolute;
          display: table;
          width: 670px;
          margin: 30px auto;
          background-color: #ffffff;
          margin-top: -50px;
          left: 0;
          right: 0; }
          body section.espacios .image-view .info .text {
            width: 63%;
            display: table-cell;
            vertical-align: middle;
            height: auto;
            background-color: #1b1a45;
            color: #ffffff;
            font-size: 33px;
            line-height: 35px;
            text-align: left;
            padding: 15px 30px;
            font-style: italic;
            position: relative;
            font-family: 'Myriad Pro'; }
            body section.espacios .image-view .info .text strong {
              font-family: 'Myriad Pro Bold';
              font-style: italic;
              font-size: 33px; }
            body section.espacios .image-view .info .text::after {
              content: "";
              display: block;
              width: 26px;
              height: 50px;
              background-image: url(../images/arrow-right.png);
              background-repeat: no-repeat;
              position: absolute;
              right: -22px;
              top: 35px; }
          body section.espacios .image-view .info .cta {
            display: table-cell;
            vertical-align: middle;
            background-color: #93c317;
            font-family: 'Myriad Pro';
            padding: 15px 30px; }
            body section.espacios .image-view .info .cta p {
              font-size: 24px;
              font-style: italic;
              display: inline-block;
              line-height: 35px;
              text-align: left;
              color: white; }
              body section.espacios .image-view .info .cta p span {
                font-size: 30px;
                font-family: 'Myriad Pro Bold';
                font-style: italic; }
      body section.espacios .desarrollo-carousel .owl-item {
        max-width: 260px;
        cursor: pointer; }
      body section.espacios .desarrollo-carousel .owl-nav button {
        background-color: #93c317;
        padding-top: 5px !important;
        width: 64px;
        height: 64px;
        top: 35%; }
        body section.espacios .desarrollo-carousel .owl-nav button span {
          color: white;
          font-size: 35px;
          text-align: center; }
        body section.espacios .desarrollo-carousel .owl-nav button.owl-prev {
          left: -2%; }
        body section.espacios .desarrollo-carousel .owl-nav button.owl-next {
          right: -2%; }
    body section.section-title {
      background-color: #1b1a45;
      margin-top: 90px;
      padding-top: 70px; }
      body section.section-title.quienes-somos {
        margin-top: 0px;
        padding-top: 40px;
        padding-bottom: 30px; }
        body section.section-title.quienes-somos h2::after {
          margin-top: 15px;
          margin-bottom: 25px; }
        body section.section-title.quienes-somos p {
          text-align: center;
          color: #b3b3b3;
          font-family: 'Myriad Pro';
          font-size: 24px; }
      body section.section-title h2 {
        color: white;
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        text-align: center; }
        body section.section-title h2::after {
          content: "";
          display: block;
          width: 65px;
          height: 3px;
          background-color: #93c317;
          margin: 28px auto 60px; }
    body section.call-to-action {
      background-color: #93c317;
      padding: 65px 0px; }
      body section.call-to-action span[class*="icon-"] {
        width: 75px;
        height: 75px;
        font-size: 46px;
        background-color: white;
        color: #1b1a45;
        display: block;
        border-radius: 50%;
        padding: 15px;
        float: left; }
      body section.call-to-action h2 {
        color: white;
        font-size: 36px;
        font-family: 'Montserrat-Bold';
        display: block;
        margin-left: 115px; }
      body section.call-to-action p {
        font-family: 'Myriad Pro';
        font-size: 26px;
        color: white;
        display: block;
        margin-left: 115px; }
      body section.call-to-action .btn {
        width: 211px;
        height: 50px;
        color: white;
        font-family: 'Montserrat-Bold';
        font-size: 18px;
        background-color: #1b1a45;
        border-radius: 0px;
        padding-top: 12px;
        margin-left: 30px;
        margin-top: 15px; }
        body section.call-to-action .btn.desarrollos {
          width: 237px; }
        body section.call-to-action .btn:hover {
          background-color: white;
          color: #1b1a45; }
        body section.call-to-action .btn::before {
          content: "";
          display: block;
          width: 1px;
          height: 140px;
          background-color: white;
          position: absolute;
          left: 0;
          top: -25px; }
    body section.prototipos .list-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 15px;
      padding-right: 30px; }
      body section.prototipos .list-items .item-prototipo {
        width: 100%;
        max-width: 33.3%;
        padding-top: 25px; }
        body section.prototipos .list-items .item-prototipo h3 {
          font-family: 'Myriad Pro Bold';
          font-style: italic;
          font-size: 27px;
          color: #1b1a45;
          text-align: center; }
        body section.prototipos .list-items .item-prototipo p {
          font-size: 18px;
          font-family: 'Myriad Pro';
          color: #6f6f6f;
          text-align: center; }
          body section.prototipos .list-items .item-prototipo p span {
            color: #93c317;
            font-size: 30px; }
            body section.prototipos .list-items .item-prototipo p span::before {
              vertical-align: middle; }
          body section.prototipos .list-items .item-prototipo p strong {
            font-size: 16px; }
        body section.prototipos .list-items .item-prototipo:hover, body section.prototipos .list-items .item-prototipo.active {
          background-color: #f7f7f7;
          cursor: pointer; }
    body section.prototipos .total-deptos {
      background-color: #1b1a45;
      padding: 10px 0px 1px;
      margin-left: -15px; }
      body section.prototipos .total-deptos h3 {
        color: white;
        font-size: 23px;
        font-family: 'Myriad Pro Bold';
        font-style: italic;
        text-align: center; }
    body section.prototipos .distribucion {
      margin-top: 70px; }
      body section.prototipos .distribucion h3 {
        color: #1b1a45;
        font-family: 'Montserrat-Bold';
        font-style: italic;
        font-size: 30px;
        text-align: center; }
      body section.prototipos .distribucion ul {
        list-style-type: none;
        margin-top: 40px;
        padding-left: 75px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; }
        body section.prototipos .distribucion ul li {
          font-size: 22px;
          color: #6f6f6f;
          font-family: 'Myriad Pro Bold';
          font-style: italic;
          margin-bottom: 30px; }
          body section.prototipos .distribucion ul li span {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: #1b1a45;
            color: #93c317;
            display: inline-block;
            font-size: 32px;
            padding: 17px 20px;
            margin-right: 25px; }
    body section.prototipos .info-prototipo {
      height: 100%;
      border-left: 1px solid #93c317;
      padding: 75px 0px 100px 20%;
      position: relative; }
      body section.prototipos .info-prototipo .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: white;
        opacity: .8; }
        body section.prototipos .info-prototipo .overlay img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
      body section.prototipos .info-prototipo h3 {
        font-family: 'Myriad Pro Bold';
        font-style: italic;
        font-size: 27px;
        color: #1b1a45;
        text-align: left;
        display: inline-block; }
        body section.prototipos .info-prototipo h3::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 28px;
          background-color: #a9a9a9;
          vertical-align: middle;
          margin: 0px 18px; }
      body section.prototipos .info-prototipo p {
        font-size: 18px;
        font-family: 'Myriad Pro';
        color: #6f6f6f;
        text-align: left;
        display: inline-block; }
        body section.prototipos .info-prototipo p span {
          color: #93c317;
          font-size: 30px; }
          body section.prototipos .info-prototipo p span::before {
            vertical-align: middle; }
        body section.prototipos .info-prototipo p strong {
          font-size: 16px; }
      body section.prototipos .info-prototipo .image-prototipo {
        max-width: 636px;
        display: block;
        box-shadow: 10px 10px 8px 0px #888888; }
    body section.quienes-somos-desc {
      padding: 150px 0px 130px; }
      body section.quienes-somos-desc h2 {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        color: #232665;
        text-align: center; }
        body section.quienes-somos-desc h2 span {
          color: #93c317; }
        body section.quienes-somos-desc h2::after {
          content: "";
          display: block;
          background-color: #93c317;
          width: 64px;
          height: 3px;
          margin: 20px auto 26px; }
      body section.quienes-somos-desc p {
        font-size: 18px;
        color: #6f6f6f;
        text-align: center;
        margin-top: 15px;
        font-family: 'Myriad Pro'; }
    body section.presencia {
      background-color: #93c317; }
      body section.presencia div[class*="container"] {
        padding-right: 0px;
        padding-left: 0px; }
      body section.presencia h2 {
        color: white;
        font-size: 50px;
        font-family: 'Montserrat-Bold'; }
        body section.presencia h2::after {
          content: "";
          display: block;
          width: 64px;
          height: 3px;
          background-color: white;
          margin: 15px 0px; }
      body section.presencia p {
        color: white;
        font-size: 18px;
        font-family: 'Myriad Pro';
        max-width: 320px;
        margin-top: 40px; }
        body section.presencia p strong {
          font-family: 'Myriad Pro Bold';
          font-style: italic; }
    body section.list-trayectoria {
      padding-top: 85px; }
      body section.list-trayectoria .card:hover {
        box-shadow: 3px 3px 4px #c5c5c5; }
      body section.list-trayectoria .card .card-body {
        height: 190px; }
        body section.list-trayectoria .card .card-body p {
          position: relative;
          padding-left: 40px; }
          body section.list-trayectoria .card .card-body p span {
            position: absolute;
            left: 0; }
    body section.edificios-generacion {
      padding-top: 100px;
      padding-bottom: 30px; }
      body section.edificios-generacion div[class*="container"] {
        max-width: 78%; }
      body section.edificios-generacion .new-generation-carousel .card {
        margin: 0 auto; }
        body section.edificios-generacion .new-generation-carousel .card .card-body {
          height: 190px; }
      body section.edificios-generacion .new-generation-carousel .owl-nav button {
        width: 60px;
        height: 60px;
        background-color: #93c317;
        top: 35%; }
        body section.edificios-generacion .new-generation-carousel .owl-nav button span {
          color: white;
          font-size: 30px; }
        body section.edificios-generacion .new-generation-carousel .owl-nav button.owl-prev {
          left: calc(0% - 30px); }
        body section.edificios-generacion .new-generation-carousel .owl-nav button.owl-next {
          right: calc(0% - 30px); }
      body section.edificios-generacion .new-generation-carousel .owl-dots {
        position: relative;
        margin-top: 55px; }
        body section.edificios-generacion .new-generation-carousel .owl-dots .owl-dot {
          border: solid 1px #c0c0c0; }
    body section.aviso-privacidad {
      padding: 150px 0px 130px; }
      body section.aviso-privacidad h2 {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        color: #232665;
        text-align: center;
        margin-bottom: 20px; }
        body section.aviso-privacidad h2 span {
          color: #93c317; }
        body section.aviso-privacidad h2::after {
          content: "";
          display: block;
          background-color: #93c317;
          width: 64px;
          height: 3px;
          margin: 20px auto 0px; }
      body section.aviso-privacidad h3 {
        font-family: 'Montserrat-Bold';
        font-size: 20px; }
      body section.aviso-privacidad p {
        font-size: 18px;
        color: #6f6f6f;
        text-align: justify;
        margin-top: 15px; }
      body section.aviso-privacidad ul li {
        font-size: 18px; }
  body footer {
    padding: 55px 0px 0px; }
    body footer img {
      vertical-align: top;
      margin-top: 18px; }
    body footer .division {
      width: 1px;
      height: 160px;
      background-color: #c7c7c7;
      display: inline-block;
      margin: 0px 20px; }
    body footer h4 {
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      color: #12224d;
      margin-bottom: 20px; }
      body footer h4 a {
        color: #12224d; }
        body footer h4 a:hover {
          color: #12224d; }
    body footer .desarrollos {
      padding-left: 14px; }
      body footer .desarrollos li {
        font-size: 15px;
        font-family: 'Myriad Pro';
        list-style: none; }
        body footer .desarrollos li::before {
          content: "•";
          color: #191c55;
          display: inline-block;
          width: 1em;
          margin-left: -1em; }
        body footer .desarrollos li a {
          color: #6f6f6f; }
    body footer .social {
      list-style-type: none;
      padding-left: 0px; }
      body footer .social li {
        display: inline-block;
        margin-right: 15px; }
        body footer .social li a {
          color: #93c317;
          font-size: 20px; }
    body footer .legal {
      background-color: #12224d;
      text-align: center;
      border-top: 4px solid #93c317;
      padding: 23px 0px;
      margin-top: 30px; }
      body footer .legal p {
        font-size: 14px;
        font-family: 'Myriad Pro';
        color: #d1d1d1;
        margin-bottom: 0px; }
        body footer .legal p a {
          color: #d1d1d1; }
          body footer .legal p a.aviso {
            color: #93c317;
            text-decoration: underline;
            font-family: 'Myriad Pro Bold'; }
        body footer .legal p strong {
          font-family: 'Myriad Pro Bold'; }

@media (max-width: 1750px) {
  body section.contact .offices {
    padding: 28px 40px 30px 60px; }
    body section.contact .offices .icon-pin {
      font-size: 36px;
      width: 60px;
      height: 60px;
      padding: 12px; }
    body section.contact .offices h6 {
      font-size: 24px; }
    body section.contact .offices h5 {
      font-size: 18px; }
    body section.contact .offices p {
      font-size: 14px; } }
@media (max-width: 1650px) {
  body section.on-sale ul li p {
    font-size: 22px; }
  body section.contact.page-contact .oficinas ul li {
    padding-left: 2%; }
    body section.contact.page-contact .oficinas ul li:first-child {
      font-size: 28px; }
    body section.contact.page-contact .oficinas ul li a h5 {
      font-size: 26px; } }
@media (max-width: 1500px) {
  body .owl-carousel .carousel-caption {
    bottom: 70px; }
    body .owl-carousel .carousel-caption .info {
      margin-left: -25px; }
  body .owl-carousel .owl-nav button.owl-next {
    right: 4%; }
  body .owl-carousel .owl-nav button.owl-prev {
    left: 4%; }
  body section.on-sale h2 {
    font-size: 45px; }
  body section.on-sale h3 {
    font-size: 34px; }
  body section.on-sale ul li span {
    width: 100px;
    height: 100px;
    font-size: 50px; }
  body section.on-sale ul li p {
    margin-left: 15px; }
  body section.on-sale p {
    font-size: 17px; }
  body section.testimonials .owl-carousel {
    max-width: 100%; }
    body section.testimonials .owl-carousel .owl-item .item {
      padding-top: 30px;
      height: 250px; }
      body section.testimonials .owl-carousel .owl-item .item .photo {
        width: 150px;
        margin-left: -80px; }
  body section.contact h2 {
    margin-left: 10%; }
  body section.contact p {
    margin-left: 10%; }
  body section.contact .offices {
    left: 46%; }
  body section.contact .form-contact {
    margin-left: 10%; }
    body section.contact .form-contact input[type="text"],
    body section.contact .form-contact input[type="email"] {
      border-radius: 0px;
      height: 53px;
      color: #a9a9a9;
      max-width: 450px; }
    body section.contact .form-contact select {
      max-width: 450px; }
    body section.contact .form-contact textarea {
      border-radius: 0px;
      height: 111px;
      color: #a9a9a9;
      max-width: 450px; }
  body section.list-trayectoria .card .card-body {
    height: 200px; } }
@media (max-width: 1400px) {
  body .owl-carousel#main-carousel {
    height: 600px; }
    body .owl-carousel#main-carousel .item-carousel {
      height: 600px; }
  body .owl-carousel .carousel-caption {
    bottom: 50px; }
    body .owl-carousel .carousel-caption h2 {
      font-size: 50px;
      margin-bottom: 40px; }
    body .owl-carousel .carousel-caption .info {
      width: 100%;
      margin: 20px auto; }
      body .owl-carousel .carousel-caption .info .text {
        font-size: 35px; }
      body .owl-carousel .carousel-caption .info .cta {
        padding: 20px; }
        body .owl-carousel .carousel-caption .info .cta .btn {
          width: 190px;
          font-size: 16px; }
  body section.on-sale {
    padding: 70px 0px 20px; }
    body section.on-sale h2 {
      font-size: 40px; }
    body section.on-sale ul li {
      margin-bottom: 50px; }
      body section.on-sale ul li span {
        width: 90px;
        height: 90px; }
      body section.on-sale ul li p {
        margin-left: 5px; }
  body section.developments .info a {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20%; }
    body section.developments .info a h3 {
      font-size: 32px; }
    body section.developments .info a p {
      font-size: 20px; }
    body section.developments .info a .price {
      font-size: 22px; }
      body section.developments .info a .price::before {
        margin: 25px auto 15px; }
    body section.developments .info a .icon-link {
      top: 15%; }
  body section.testimonials .container-fluid {
    max-width: 90%; }
  body section.contact h2 {
    margin-left: 0px; }
  body section.contact p {
    margin-left: 0px; }
  body section.contact .form-contact {
    margin-left: 0px; }
  body section.contact.page-contact .oficinas ul {
    width: 90%; }
  body section.prototipos .list-items .item-prototipo h3 {
    font-size: 25px; }
  body section.prototipos .list-items .item-prototipo p {
    font-size: 16px; }
  body section.prototipos .distribucion h3 {
    font-size: 28px; }
  body section.prototipos .distribucion ul {
    padding-left: 0px; }
    body section.prototipos .distribucion ul li {
      font-size: 20px; }
      body section.prototipos .distribucion ul li span {
        width: 65px;
        height: 65px;
        font-size: 30px; }
  body section.prototipos .info-prototipo .image-prototipo {
    max-width: 90%; } }
@media (max-width: 1300px) {
  #modalAnuncio .modal-lg {
    max-width: 90%; }

  body .owl-carousel .carousel-caption .info .text {
    font-size: 28px;
    line-height: 30px; }
  body .owl-carousel .carousel-caption .info .cta p {
    font-size: 26px;
    line-height: 30px; }
    body .owl-carousel .carousel-caption .info .cta p span {
      font-size: 30px; }
  body .owl-carousel .carousel-caption .info .cta .btn {
    width: 190px;
    font-size: 16px;
    height: 45px;
    padding: 12px;
    margin-top: 10px; }
  body section.on-sale ul li p {
    font-size: 20px; }
  body section.contact .form-contact input[type="text"],
  body section.contact .form-contact input[type="email"] {
    border-radius: 0px;
    height: 53px;
    color: #a9a9a9;
    max-width: 350px; }
  body section.contact .form-contact select {
    max-width: 350px; }
  body section.contact .form-contact textarea {
    border-radius: 0px;
    height: 111px;
    color: #a9a9a9;
    max-width: 350px; }
  body section.contact .form-contact #captcha_value {
    width: 35%; }
  body section.contact .form-contact .completar {
    width: 145px;
    padding: 15px 35px; }
  body section.contact .offices {
    left: 40%; } }
@media (max-width: 1199px) {
  body .navbar.main .container {
    max-width: 100%; }
  body .navbar.navbar-light .navbar-nav .nav-link {
    padding: 30px 0 20px;
    font-size: 16px; }
  body .owl-carousel#main-carousel {
    height: 500px; }
    body .owl-carousel#main-carousel .item-carousel {
      height: 500px; }
  body .owl-carousel .carousel-caption .info .text {
    font-size: 25px; }
  body .owl-carousel .carousel-caption .info .cta p {
    font-size: 24px; }
    body .owl-carousel .carousel-caption .info .cta p span {
      font-size: 26px; }
  body .owl-carousel .carousel-caption .info .cta .btn {
    width: 45%;
    font-size: 14px; }
  body section.developments a .info {
    padding-top: 20%; }
    body section.developments a .info .icon-link {
      top: 10%; }
    body section.developments a .info h3 {
      font-size: 30px; }
    body section.developments a .info .price {
      font-size: 22px; }
  body section.on-sale ul li {
    max-height: 80px; }
    body section.on-sale ul li span {
      width: 80px;
      height: 80px;
      float: left; }
    body section.on-sale ul li p {
      width: calc(100% - 100px);
      margin-left: 10px;
      margin-top: 15px; }
  body section.contact .offices {
    position: relative;
    left: 0px;
    width: 50%;
    max-width: none;
    padding: 28px 40px 30px 3%; }
    body section.contact .offices ul li h5 {
      text-align: center; }
      body section.contact .offices ul li h5::before {
        display: inline-block;
        position: relative;
        top: -5px; }
  body section.contact h2 {
    text-align: center; }
    body section.contact h2::after {
      margin: 0 auto; }
  body section.contact p {
    text-align: center; }
  body section.contact .form-contact input[type="text"],
  body section.contact .form-contact input[type="email"] {
    margin: 0 auto;
    max-width: 450px; }
  body section.contact .form-contact textarea {
    margin: 0 auto;
    max-width: 450px; }
  body section.contact .form-contact select {
    margin: 0 auto;
    max-width: 450px; }
  body section.contact .form-contact #captcha_value {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 450px; }
  body section.contact .form-contact .completar {
    margin: 10px auto 0px;
    width: 100%;
    max-width: 450px;
    display: block; }
  body section.contact .form-contact .form-check {
    text-align: center; }
  body section.contact .form-contact .btn {
    margin: 0 auto 50px;
    display: block; }
  body section.contact.page-contact h2 {
    margin-top: 100px; }
  body section.contact.page-contact .oficinas {
    position: relative;
    width: 50%; }
    body section.contact.page-contact .oficinas ul {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;
      flex-flow: row wrap;
      width: 100%; }
      body section.contact.page-contact .oficinas ul li {
        padding-top: 20px;
        width: 50%;
        padding: 20px 50px;
        flex-grow: 1; }
        body section.contact.page-contact .oficinas ul li:first-child {
          width: 100%; }
          body section.contact.page-contact .oficinas ul li:first-child h3 {
            text-align: center; }
            body section.contact.page-contact .oficinas ul li:first-child h3 br {
              display: none; }
  body section.espacios ul li {
    width: 25%;
    padding: 25px 25px 0px; }
    body section.espacios ul li span {
      margin-right: 15px; }
  body section .desarrollo-carousel .owl-nav button {
    top: 40%; }
    body section .desarrollo-carousel .owl-nav button span {
      font-size: 50px; }
  body section.prototipos .info-prototipo {
    padding: 75px 0px 100px 10%; }
    body section.prototipos .info-prototipo .image-prototipo {
      max-width: 80%; }
  body section.prototipos .distribucion ul li span {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    font-size: 28px;
    padding: 15px 16px; }
  body section.call-to-action {
    padding: 40px 0px; }

  @-moz-document url-prefix() {
    body .owl-carousel .carousel-caption .info .cta .btn {
      font-size: 12px; } } }
@media (max-width: 991px) {
  #modalAnuncio .modal-lg {
    max-width: max-content; }
    #modalAnuncio .modal-lg .modal-body .desktop {
      display: none; }
    #modalAnuncio .modal-lg .modal-body .mobile {
      display: block; }

  body .navbar.navbar-light .navbar-nav .nav-link {
    padding-left: 5%; }
  body .owl-carousel#main-carousel {
    height: 440px; }
    body .owl-carousel#main-carousel .item-carousel {
      height: 440px; }
  body .owl-carousel .carousel-caption h2 {
    font-size: 32px; }
    body .owl-carousel .carousel-caption h2::after {
      bottom: -30px; }
  body .owl-carousel .carousel-caption .info {
    margin: 20px auto 10px; }
    body .owl-carousel .carousel-caption .info .text {
      width: 100%;
      display: block;
      padding: 20px;
      text-align: center;
      font-size: 24px; }
      body .owl-carousel .carousel-caption .info .text::after {
        display: none;
        width: 20px;
        height: 40px;
        background-size: contain;
        right: 60%;
        top: 56px;
        transform: rotate(90deg); }
    body .owl-carousel .carousel-caption .info .cta {
      width: 100%;
      display: block;
      padding: 10px; }
      body .owl-carousel .carousel-caption .info .cta p {
        vertical-align: bottom;
        margin-bottom: 0px;
        font-size: 22px; }
        body .owl-carousel .carousel-caption .info .cta p br {
          display: none; }
        body .owl-carousel .carousel-caption .info .cta p span {
          font-size: 24px; }
      body .owl-carousel .carousel-caption .info .cta .btn {
        width: 160px;
        height: 40px;
        margin-top: 0px; }
  body .owl-carousel .owl-dots {
    bottom: 20px; }
  body section.prototipos .list-items .item-prototipo {
    max-width: 50%; }
  body section.prototipos .distribucion ul {
    column-count: 1; }
  body section.intro {
    padding: 90px 0px; }
    body section.intro .features h3 {
      font-size: 28px; }
    body section.intro .features p {
      font-size: 22px; }
  body section.on-sale h2 {
    font-size: 28px; }
  body section.on-sale h3 {
    font-size: 30px; }
  body section.on-sale ul li {
    text-align: center;
    margin-bottom: 65px; }
    body section.on-sale ul li p {
      width: 100%; }
    body section.on-sale ul li span {
      display: block;
      margin: 0 auto;
      float: none; }
  body section.on-sale::after {
    left: 30%;
    width: 80px; }
  body section.testimonials h2 {
    font-size: 35px; }
  body section.testimonials .owl-carousel .owl-item .item .text {
    width: 60%; }
    body section.testimonials .owl-carousel .owl-item .item .text h6 {
      font-size: 18px; }
    body section.testimonials .owl-carousel .owl-item .item .text p {
      font-size: 16px; }
  body section.testimonials .owl-carousel .owl-item .item .photo {
    width: 130px; }
  body section.presencia {
    padding-left: 5%; }
    body section.presencia h2 {
      font-size: 30px; }
    body section.presencia p {
      margin-top: 20px; }
  body section.list-trayectoria .w-100 {
    display: none; }
  body section.edificios-generacion .card .card-body {
    height: 200px; }
  body section.contact.page-contact .oficinas ul li {
    padding: 20px 30px; }
    body section.contact.page-contact .oficinas ul li h5 {
      text-align: center; }
      body section.contact.page-contact .oficinas ul li h5::before {
        margin-right: 2px; }
  body section.espacios ul li {
    width: 33%; }
  body section.espacios .desarrollo-carousel .owl-nav button {
    top: 35%; }
    body section.espacios .desarrollo-carousel .owl-nav button span {
      font-size: 35px; }
  body section.developments .info a .icon-link {
    top: 12%; }
  body footer .division {
    display: none; }
  body footer img {
    margin-right: 20px;
    margin-bottom: 50px; } }
@media (max-width: 767px) {
  body .owl-carousel#main-carousel {
    height: 400px; }
    body .owl-carousel#main-carousel .item-carousel {
      height: 400px; }
    body .owl-carousel#main-carousel .carousel-caption {
      bottom: 35px; }
      body .owl-carousel#main-carousel .carousel-caption .info .text {
        font-size: 20px; }
      body .owl-carousel#main-carousel .carousel-caption .info .cta p {
        font-size: 18px; }
  body .btn-contacto {
    padding: 10px;
    width: 84px;
    left: -10px;
    z-index: 999;
    border: 1px solid white; }
    body .btn-contacto a p {
      display: none; }
    body .btn-contacto a span {
      display: block; }
  body section.contact .offices {
    margin: 0 auto;
    width: 60%;
    padding: 28px 20px 20px 10%; }
    body section.contact .offices p {
      text-align: left; }
    body section.contact .offices ul li h5 {
      text-align: left; }
      body section.contact .offices ul li h5::before {
        display: inline-block;
        position: relative;
        top: -5px; }
  body section.contact #map {
    width: 100%;
    height: 400px; }
  body section.contact.page-contact .oficinas {
    width: 100%; }
  body section.intro .features div[class*="col-"]:nth-child(2) {
    border-right: 0px; }
  body section.intro .features div[class*="col-"]:last-child {
    margin-top: 30px; }
  body section.developments div[class*="col-"] img {
    margin-left: auto;
    margin-right: auto; }
  body section.developments div[class*="col-"] .info {
    margin-left: auto;
    margin-right: auto; }
  body section.on-sale {
    background: linear-gradient(to bottom, #1b1a45 0%, #1b1a45 35%, #93c317 35%);
    padding: 15px 60px; }
    body section.on-sale p {
      margin-bottom: 70px;
      text-align: center;
      display: block; }
    body section.on-sale::after {
      top: 35%;
      width: 50px;
      left: calc(50% - 25px); }
    body section.on-sale h2 {
      text-align: center; }
      body section.on-sale h2::after {
        margin: 15px auto 0px; }
    body section.on-sale h3 {
      text-align: center; }
  body section.testimonials {
    padding: 65px 0px 40px; }
    body section.testimonials .owl-carousel .owl-item .item .photo {
      width: 140px; }
  body section.espacios ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px; }
    body section.espacios ul li:nth-child(2n) {
      padding-left: 0px; }
  body section.espacios .image-view {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 360px; }
    body section.espacios .image-view .info {
      width: 100%;
      margin-top: -80px; }
      body section.espacios .image-view .info .text {
        display: block;
        width: 100%;
        font-size: 20px; }
        body section.espacios .image-view .info .text::after {
          transform: rotate(90deg);
          right: 50%;
          top: 45px; }
        body section.espacios .image-view .info .text strong {
          font-size: 22px; }
      body section.espacios .image-view .info .cta {
        display: block; }
        body section.espacios .image-view .info .cta p {
          font-size: 20px;
          text-align: center;
          display: block;
          margin-bottom: 0px; }
          body section.espacios .image-view .info .cta p br {
            display: none; }
          body section.espacios .image-view .info .cta p span {
            font-size: 22px; }
  body section.prototipos .distribucion ul {
    column-count: 2; }
  body section.prototipos .info-prototipo {
    border-left: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 25px; }
    body section.prototipos .info-prototipo .image-prototipo {
      display: block;
      margin: 0 auto 50px; }
  body section.call-to-action h2 {
    font-size: 30px; }
  body section.call-to-action p {
    font-size: 24px; }
  body section.call-to-action .btn {
    margin: 0 auto;
    display: block; }
    body section.call-to-action .btn::before {
      display: none; }
  body section.presencia {
    padding-left: 0px;
    padding-top: 20px; }
    body section.presencia h2 {
      text-align: center; }
      body section.presencia h2::after {
        margin-left: auto;
        margin-right: auto; }
    body section.presencia p {
      text-align: center;
      max-width: none; }
  body section.edificios-generacion .card {
    margin: 0 auto; } }
@media (max-width: 630px) {
  body .btn-contacto {
    width: 70px;
    height: 50px;
    left: -11px; }
    body .btn-contacto a span {
      font-size: 30px; }
  body .owl-carousel#main-carousel .carousel-caption .info .text {
    font-size: 18px; }
  body .owl-carousel#main-carousel .carousel-caption .info .cta p {
    font-size: 16px; }
    body .owl-carousel#main-carousel .carousel-caption .info .cta p span {
      font-size: 20px; }
  body .owl-carousel#main-carousel .owl-nav {
    display: none; }
  body section.espacios .desarrollo-carousel .owl-nav {
    display: none; } }
@media (max-width: 575px) {
  body .owl-carousel#main-carousel .carousel-caption .info .text {
    line-height: 20px;
    padding: 15px;
    font-size: 16px; }
    body .owl-carousel#main-carousel .carousel-caption .info .text::after {
      height: 30px;
      background-repeat: no-repeat;
      top: 45px; }
  body .owl-carousel#main-carousel .carousel-caption .info .cta {
    padding: 5px; }
    body .owl-carousel#main-carousel .carousel-caption .info .cta p {
      font-size: 16px span;
        font-size-font-size: 18px; }
    body .owl-carousel#main-carousel .carousel-caption .info .cta .btn {
      height: 30px;
      padding: 6px; }
  body .owl-carousel#main-carousel .owl-nav {
    display: none; }
  body section.intro .features div[class*="col-"] {
    border-right: 0px;
    margin-bottom: 30px; }
    body section.intro .features div[class*="col-"]:last-child {
      margin-top: 0px; }
  body section.intro .btn {
    margin: 40px auto 0; }
  body section.on-sale {
    background: linear-gradient(to bottom, #1b1a45 0%, #1b1a45 25%, #93c317 25%); }
    body section.on-sale::after {
      top: 25%; }
    body section.on-sale ul li {
      display: block;
      float: none;
      width: 100%; }
      body section.on-sale ul li span {
        padding-top: 4%; }
  body section.contact .offices {
    padding: 28px 20px 20px 8%;
    width: 80%; }
  body section.contact.page-contact .oficinas {
    order: 2; }
  body section.list-trayectoria .card {
    margin: 0 auto 20px; }
  body section.espacios .image-view .info .text {
    font-size: 18px;
    padding: 15px 20px; }
    body section.espacios .image-view .info .text strong {
      font-size: 20px; }
  body footer h4 {
    text-align: center; }
  body footer ul {
    text-align: center;
    list-style-type: none; }
  body footer img {
    margin: 0 auto 20px;
    display: block; } }
@media (max-width: 480px) {
  body .owl-carousel .carousel-caption h2 {
    font-size: 28px; }
  body .navbar-top .icon-building {
    margin-left: 30%; }
  body .navbar-top .separator {
    display: initial; }
  body section.testimonials .owl-carousel .owl-item {
    padding-left: 0px; }
    body section.testimonials .owl-carousel .owl-item .item {
      height: auto; }
      body section.testimonials .owl-carousel .owl-item .item .photo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative; }
  body section.testimonials .owl-carousel .owl-dots {
    margin-top: 0px; }
  body section.espacios ul li {
    width: 100%; }
  body section.espacios .image-view .info .text {
    text-align: center;
    line-height: 22px; }
    body section.espacios .image-view .info .text::after {
      display: none; }
  body section.section-title h2 {
    font-size: 30px; }
  body section.header {
    padding: 80px 0px; }
    body section.header h1 {
      font-size: 30px; }
  body section.prototipos .total-deptos h3 {
    font-size: 20px; }
  body section.prototipos .distribucion {
    margin-top: 35px; }
    body section.prototipos .distribucion h3 {
      font-size: 20px; }
    body section.prototipos .distribucion ul {
      column-count: auto; }
      body section.prototipos .distribucion ul li {
        padding-left: 25%; }
  body section.call-to-action span[class*="icon-"] {
    display: block;
    margin: 0 auto;
    float: none; }
  body section.call-to-action h2 {
    font-size: 26px;
    margin-left: 0px;
    text-align: center; }
  body section.call-to-action p {
    font-size: 20px;
    margin-left: 0px;
    text-align: center; }
  body section.call-to-action .btn {
    margin-top: 20px; }
  body section.quienes-somos-desc {
    padding: 60px 0px; }
    body section.quienes-somos-desc h2 {
      font-size: 40px; }
  body section.contact.page-contact .oficinas h3 {
    font-size: 24px; }
  body section.contact.page-contact .oficinas ul li {
    width: 100%;
    padding: 15px 15px; }
    body section.contact.page-contact .oficinas ul li h5 {
      font-size: 22px; }
  body section.developments .info a .icon-link {
    top: 10%; } }
@media (max-width: 400px) {
  body .navbar-top {
    font-size: 14px;
    padding: 1.0rem 0rem; }
  body .navbar-brand {
    max-width: 70%; }
  body section.developments .info a {
    padding-left: 30px;
    padding-right: 30px; } }

/*# sourceMappingURL=style.css.map */
