@media (max-width: 1750px){
    body{
        section{
            &.contact{
                .offices{
                    padding: 28px 40px 30px 60px;

                    .icon-pin{
                        font-size: 36px;
                        width: 60px;
                        height: 60px;
                        padding: 12px;
                    }

                    h6{
                        font-size: 24px;
                    }

                    h5{
                        font-size: 18px;
                    }

                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }    
}

@media (max-width: 1650px){
    body{
        section{
            &.on-sale{
                ul{
                    li{
                        p{
                            font-size: 22px;
                        }
                    }
                }
            }
            &.contact{
                &.page-contact{
                    .oficinas{
                        ul{
                            li{
                                padding-left: 2%;
                                &:first-child{
                                    font-size: 28px;
                                }

                                a{
                                    h5{
                                        font-size: 26px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px){
    body{
        .owl-carousel{
            .carousel-caption{
                bottom: 70px;

                .info{
                    margin-left: -25px;
                }
            }

            .owl-nav{
                button{
                    &.owl-next{
                        right: 4%;
                    }

                    &.owl-prev{
                        left: 4%;
                    }
                }
            }
        }

        section{
            &.on-sale{
                h2{
                    font-size: 45px;
                }
                h3{
                    font-size: 34px;
                }

                ul{
                    li{
                       
                        span{
                            width: 100px;
                            height: 100px;
                            font-size: 50px;
                        }
                        p{
                            margin-left: 15px;
                        }
                    }
                }

                p{
                    font-size: 17px;
                }
            }

            &.testimonials{
                .owl-carousel{
                    max-width: 100%;
                    .owl-item{
                        .item{
                            padding-top: 30px;
                            height: 250px;
                            .photo{
                                width: 150px;
                                margin-left: -80px;
                            }
                        }
                    }
                }
            }

            &.contact{
                h2{
                    margin-left: 10%;
                }
                p{
                    margin-left: 10%;
                }

                .offices{
                    left: 46%;
                }

                .form-contact{
                    margin-left: 10%;

                    input[type="text"],
                    input[type="email"]{
                        border-radius: 0px;
                        height: 53px;
                        color: #a9a9a9;
                        max-width: 450px;
                    }

                    select{
                        max-width: 450px;
                    }

                    textarea{
                        border-radius: 0px;
                        height: 111px;
                        color: #a9a9a9;
                        max-width: 450px;
                    }
                }
            }

            &.list-trayectoria{
                .card{
                    .card-body{
                        height: 200px;
                    }
                }
            }
        }
    }
}

@media (max-width:1400px){
    body{
        .owl-carousel{
            &#main-carousel{
                height: 600px;
                .item-carousel{
                    height: 600px;
                }
            }
            .carousel-caption{
                bottom: 50px;
                h2{
                    font-size: 50px;
                    margin-bottom: 40px;
                }
                .info{
                    width: 100%;
                    margin: 20px auto;

                    .text{
                        font-size: 35px;
                    }

                    .cta{
                        padding: 20px;
                        .btn{
                            width: 190px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        section{
            &.on-sale{
                padding: 70px 0px 20px;

                h2{
                    font-size: 40px;
                }

                ul{
                    li{
                        margin-bottom: 50px;

                        span{
                            width: 90px;
                            height: 90px;
                        }

                        p{
                            margin-left: 5px;
                        }
                    }
                }
            }

            &.developments{
                .info{
                    a{
                        padding-left: 60px;
                        padding-right: 60px;
                        padding-top: 20%;
                        h3{
                            font-size: 32px;
                        }

                        p{
                            font-size: 20px;
                        }
                        .price{
                            font-size: 22px;
                            &::before{
                                margin: 25px auto 15px;
                            }
                        }

                        .icon-link{
                            top: 15%;
                        }
                    }
                }
            }

            &.testimonials{
                .container-fluid{
                    max-width: 90%;
                }
            }

            &.contact{
                h2{
                    margin-left: 0px;
                }
                p{
                    margin-left: 0px;
                }
                .form-contact{
                    margin-left: 0px;
                }

                &.page-contact{
                    .oficinas{
                       ul{
                           width: 90%;
                       }
                    }
                }
            }

           &.prototipos{
                .list-items{
                    .item-prototipo{
                        h3{
                            font-size: 25px;
                        }

                        p{
                            font-size: 16px;
                        }
                    }
                }

               .distribucion{
                   h3{
                    font-size: 28px;
                   }

                    ul{
                        padding-left: 0px;
                        li{
                            font-size: 20px;

                            span{
                                width: 65px;
                                height: 65px;
                                font-size: 30px;
                            }
                        }
                    }
               }

               .info-prototipo{
                   .image-prototipo{
                       max-width: 90%;
                   }
               }
           }
        }
    }
}

@media (max-width:1300px){
    #modalAnuncio{
        .modal-lg{
            max-width: 90%;
        }
    }

    body{
        .owl-carousel{
            .carousel-caption{
                .info{
                    .text{
                        font-size: 28px;
                        line-height: 30px;
                    }

                    .cta{
                        p{
                            font-size: 26px;
                            line-height: 30px;
                            span{
                                font-size: 30px;
                            }
                        }

                        .btn{
                            width: 190px;
                            font-size: 16px;
                            height: 45px;
                            padding: 12px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        section{
            &.on-sale{
                ul{
                    li{
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }

            &.contact{
                .form-contact{
                    input[type="text"],
                    input[type="email"]{
                        border-radius: 0px;
                        height: 53px;
                        color: #a9a9a9;
                        max-width: 350px;
                    }

                    select{
                        max-width: 350px;
                    }

                    textarea{
                        border-radius: 0px;
                        height: 111px;
                        color: #a9a9a9;
                        max-width: 350px;
                    }

                    #captcha_value{
                        width: 35%;
                    }

                    .completar{
                        width: 145px;
                        padding: 15px 35px;
                    }
                }

                .offices{
                    left: 40%;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
	body{
        .navbar{
            &.main{
                .container{
                    max-width: 100%;
                }
            }

            &.navbar-light{
                .navbar-nav{
                    .nav-link{
                        padding: 30px 0 20px;
                        font-size: 16px;
                    }
                }
            }
        }

        .owl-carousel{
            &#main-carousel{
                height: 500px;
                .item-carousel{
                    height: 500px;
                }
            }
            .carousel-caption{
                .info{
                    .text{
                        font-size: 25px;
                    }
                    .cta{
                        p{
                            font-size: 24px;

                            span{
                                font-size: 26px;
                            }
                        }
                        .btn{
                            width: 45%;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        section{
            &.developments{
                a{
                    .info{
                        padding-top: 20%;
                        .icon-link{
                            top: 10%;
                        }

                        h3{
                            font-size: 30px;
                        }

                        .price{
                            font-size: 22px;
                        }
                    }
                }
            }

            &.on-sale{
                ul{
                    li{
                       max-height: 80px;
                        span{
                            width: 80px;
                            height: 80px;
                            float: left;
                        }
                        p{
                            width: calc(100% - 100px);
                            margin-left: 10px;
                            margin-top: 15px;
                        }
                    }
                }
            }

            &.contact{
                .offices{
                    position: relative;
                    left: 0px;
                    width: 50%;
                    max-width: none;
                    padding: 28px 40px 30px 3%;

                    ul{
                        li{
                            h5{
                                text-align: center;

                                &::before{
                                    display: inline-block;
                                    position: relative;
                                    top: -5px;
                                }
                            }
                        }
                    }
                }

                h2{
                    text-align: center;

                    &::after{
                        margin: 0 auto;
                    }
                }

                p{
                    text-align:center;
                }

                .form-contact{
                    input[type="text"],
                    input[type="email"]{
                        margin: 0 auto;
                        max-width: 450px;
                    }

                    textarea{
                        margin: 0 auto;
                        max-width: 450px;
                    }

                    select{
                        margin: 0 auto;
                        max-width: 450px;
                    }

                    #captcha_value{
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        max-width: 450px;
                    }

                    .completar{
                        margin:10px auto 0px;
                        width: 100%;
                        max-width: 450px;
                        display: block;
                    }

                    .form-check{
                        text-align: center;
                    }

                    .btn{
                        margin: 0 auto 50px;
                        display: block;
                    }
                }

                &.page-contact{
                    h2{
                        margin-top: 100px;
                    }
                    .oficinas{
                        position: relative;
                        width: 50%;

                        ul{
                            flex-direction: column;
                            flex-wrap: wrap;
                            align-items: stretch;
                            align-content: stretch;
                            flex-flow: row wrap;
                            width: 100%;

                            li{
                                padding-top: 20px;
                                width: 50%;
                                padding: 20px 50px;
                                flex-grow: 1;
                               
                                &:first-child{
                                    width: 100%;
                                    h3{
                                        text-align: center;
                                        br{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.espacios{
                ul{
                    li{
                        width: 25%;
                        padding: 25px 25px 0px;

                        span{
                            margin-right: 15px;
                        }
                    }
                }
            }

            .desarrollo-carousel{
                .owl-nav{
                    button{
                        top: 40%;
                        span{
                            font-size: 50px;
                        }
                    }
                }
            }

            &.prototipos{
                .info-prototipo{
                    padding:75px 0px 100px 10%;
                   
                    .image-prototipo{
                        max-width: 80%;
                    }
                }

                .distribucion{
                    ul{
                        li{
                            span{
                                width: 60px;
                                height: 60px;
                                margin-right: 5px;
                                font-size: 28px;
                                padding: 15px 16px;
                            }
                        }
                    }
                }
            }

            &.call-to-action{
                padding: 40px 0px;
            }


        }
    }

    @-moz-document url-prefix() {
        body .owl-carousel .carousel-caption .info .cta .btn{
            font-size: 12px;
        }
      }
}

@media (max-width: 991px) {
    #modalAnuncio{
        .modal-lg{
            max-width: max-content;
            .modal-body{
                .desktop{
                    display: none;
                }

                .mobile{
                    display: block;
                }
            }
        }
    }
    body{
        .navbar{
            &.navbar-light{
                .navbar-nav{
                    .nav-link{
                        padding-left: 5%;
                    }
                }
            }
        }

        .owl-carousel{
            &#main-carousel{
                height: 440px;

                .item-carousel{
                    height: 440px;
                }
            }
            .carousel-caption{
                h2{
                    font-size: 32px;

                    &::after{
                        bottom: -30px;
                    }
                }
                .info{
                    margin: 20px auto 10px;
                    .text{
                        width: 100%;
                        display: block;
                        padding: 20px;
                        text-align: center;
                        font-size: 24px;
                        &::after{
                            display: none;
                            width: 20px;
                            height: 40px;
                            background-size: contain;
                            right: 60%;
                            top: 56px;
                            transform: rotate(90deg);
                        }
                    }

                    .cta{
                        width: 100%;
                        display: block;
                        padding: 10px;

                        p{
                            vertical-align: bottom;
                            margin-bottom: 0px;
                            font-size: 22px;
                            br{
                                display: none;
                            }

                            span{
                                font-size: 24px;
                            }
                        }

                        .btn{
                            width: 160px;
                            height: 40px;
                            margin-top: 0px;
                        }
                    }
                }
            }

            .owl-dots{
                bottom: 20px;
            }
        }

        section{
            &.prototipos{
                .list-items{
                    .item-prototipo{
                        max-width: 50%;
                    }
                }

                .distribucion{
                    ul{
                        column-count: 1;
                    }
                }
            }

            &.intro{
                padding: 90px 0px;

                .features{
                    h3{
                        font-size: 28px;
                    }

                    p{
                        font-size: 22px;
                    }
                }
            }

            &.on-sale{
                h2{
                    font-size: 28px;
                }

                h3{
                    font-size: 30px;
                }
                
                ul{
                    li{
                        text-align: center;
                        margin-bottom: 65px;

                        p{
                            width: 100%;
                        }
                        span{
                            display: block;
                            margin: 0 auto;
                            float: none;
                        }
                    }
                }

                &::after{
                    left: 30%;
                    width: 80px;
                }
            }

            &.testimonials{
                h2{
                    font-size: 35px;
                }

                .owl-carousel{
                    .owl-item{
                        .item{
                            .text{
                                width: 60%;
                                h6{
                                    font-size: 18px;
                                }

                                p{
                                    font-size: 16px;
                                }
                            }

                            .photo{
                                width: 130px;
                            }
                        }
                    }
                }
            }

            &.presencia{
                padding-left: 5%;
                h2{
                    font-size: 30px;
                }

                p{
                    margin-top: 20px;
                }
            }

            &.list-trayectoria{
                .w-100{
                    display: none;
                }
            }

            &.edificios-generacion{
                .card{
                    .card-body{
                        height: 200px;
                    }
                }
            }

            &.contact{
                &.page-contact{
                    .oficinas{
                        ul{
                            li{
                                padding: 20px 30px;
                                h5{
                                    text-align: center;

                                    &::before{
                                        margin-right: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.espacios{
                ul{
                    li{
                        width: 33%;
                    }
                }
                .desarrollo-carousel{
                    .owl-nav{
                        button{
                            top: 35%;
                            span{
                                font-size: 35px;
                            }
                        }
                    }
                }
            }

            &.developments{
                .info{
                    a{
                        .icon-link{
                            top: 12%;
                        }
                    }
                }
            }
        }

        footer{
            .division{
                display: none;
            }

            img{
                margin-right: 20px;
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 767px) {
   
    body{
        .owl-carousel{
            &#main-carousel{
                height: 400px;
                .item-carousel{
                    height: 400px;
                }

                .carousel-caption{
                    bottom: 35px;

                    .info{
                        .text{
                            font-size: 20px;
                        }

                        .cta{
                            p{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .btn-contacto{
            padding: 10px;
            width: 84px;
            left: -10px;
            z-index: 999;
            border: 1px solid white;
            a{
                p{
                    display: none;
                }
    
                span{
                    display: block;
                }
            }
           
        }

        section{
            &.contact{
                .offices{
                    margin:0 auto;
                    width: 60%;
                    padding: 28px 20px 20px 10%;
                
                    p{
                        text-align: left;
                    }

                    ul{
                        li{
                            h5{
                                text-align: left;

                                &::before{
                                    display: inline-block;
                                    position: relative;
                                    top: -5px;
                                }
                            }
                        }
                    }
                }

                #map{
                    width: 100%;
                    height: 400px;
                }

                &.page-contact{
                    .oficinas{
                       width: 100%;
                    }
                }
            }

            &.intro{
                .features{
                    div[class*="col-"]{
                        &:nth-child(2){
                            border-right: 0px;
                        }

                        &:last-child{
                            margin-top: 30px;
                        }
                    }
                }
            }

            &.developments{
                div[class*="col-"]{
                    img{
                        margin-left: auto;
                        margin-right: auto;
                    }
                    
                    .info{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            &.on-sale{
                background:linear-gradient(to bottom, #1b1a45 0%, #1b1a45 35%, #93c317 35%);
                padding: 15px 60px;

                p{
                    margin-bottom: 70px;
                    text-align: center;
                    display: block;
                }

                &::after{
                    top: 35%;
                    width: 50px;
                    left: calc(50% - 25px);
                }

                h2{
                    text-align: center;

                    &::after{
                        margin: 15px auto 0px;
                    }
                }

                h3{
                    text-align: center;
                }
            }

            &.testimonials{
                padding: 65px 0px 40px;

                .owl-carousel{
                    .owl-item{
                        .item{
                            .photo{
                                width: 140px;
                            }
                        }
                    }
                }
            }

            &.espacios{
                ul{
                    li{
                        display: inline-block;
                        width: 50%;
                        margin-bottom: 20px;
                        &:nth-child(2n){
                            padding-left: 0px;
                        }
                    }
                }

                .image-view{
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 360px;
                    .info{
                        width: 100%;
                        margin-top: -80px;
                        .text{
                            display: block;
                            width: 100%;
                            font-size: 20px;

                            &::after{
                                transform: rotate(90deg);
                                right: 50%;
                                top: 45px;
                            }

                            strong{
                                font-size: 22px;
                            }
                        }

                        .cta{
                            display: block;

                            p{
                                font-size: 20px;
                                text-align: center;
                                display: block;
                                margin-bottom: 0px;
                                br{
                                    display: none;
                                }

                                span{
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }

                .banner-leyenda{
                    p{
                        font-size: 28px;
                    }
                }
            }

            &.prototipos{
                .distribucion{
                    ul{
                        column-count: 2;
                    }
                }

                .info-prototipo{
                    border-left: 0px;
                    padding: 0px;
                    text-align: center;
                    padding-top: 25px;
                    .image-prototipo{
                        display: block;
                        margin: 0 auto 50px;
                    }
                }
            }

            &.call-to-action{
                h2{
                    font-size: 30px;
                }

                p{
                    font-size: 24px;
                }

                .btn{
                    &::before{
                        display: none;
                    }
                    margin: 0 auto;
                    display: block;
                }
            }

            &.presencia{
                padding-left: 0px;
                padding-top: 20px;

                h2{
                    text-align: center;

                    &::after{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                p{
                    text-align: center;
                    max-width: none;
                }
            }

            &.edificios-generacion{
                .card{
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 630px){
    body{
        .btn-contacto{
            width: 70px;
            height: 50px;
            left: -11px;
            a{
                span{
                    font-size: 30px;
                }
            }
        }

        .owl-carousel{
            &#main-carousel{
               .carousel-caption{
                   .info{
                       .text{
                           font-size: 18px;
                       }

                       .cta{
                           p{
                            font-size: 16px;
                               span{
                                font-size: 20px;
                               }
                           }
                       }
                   }
               }

               .owl-nav{
                   display: none;
               }
            }
        }

        section{
            &.espacios{
                .desarrollo-carousel{
                    .owl-nav{
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    body{
        .owl-carousel{
            &#main-carousel{
               .carousel-caption{
                   .info{
                       .text{
                            line-height: 20px;
                            padding: 15px;
                            font-size: 16px;

                            &::after{
                                height: 30px;
                                background-repeat: no-repeat;
                                top: 45px;
                            }
                       }

                       .cta{
                           padding: 5px;
                           p{
                               font-size: 16px
                               span{
                                   font-size: 18px;
                               }
                           }

                           .btn{
                               height:30px;
                               padding: 6px;
                           }
                       }
                   }
               }

               .owl-nav{
                   display: none;
               }
            }
        }

        section{
            &.intro{
                .features{
                    div[class*="col-"]{
                        border-right: 0px;
                        margin-bottom: 30px;

                        &:last-child{
                            margin-top: 0px;
                        }
                    }
                }

                .btn{
                    margin: 40px auto 0;
                }
            }

            &.on-sale{
                background: linear-gradient(to bottom, #1b1a45 0%, #1b1a45 25%, #93c317 25%);

                &::after{
                    top: 25%;
                }
                ul{
                    li{
                        display: block;
                        float: none;
                        width: 100%;

                        span{
                            padding-top: 4%;
                        }
                    }
                }
            }

            &.contact{
                .offices{
                    padding: 28px 20px 20px 8%;
                    width: 80%;
                }

                &.page-contact{
                    .oficinas{
                        order: 2;
                    }
                }
            }

            &.list-trayectoria{
                .card{
                    margin: 0 auto 20px;
                }
            }

            &.espacios{
                .image-view{
                    .info{
                        .text{
                            font-size: 18px;
                            padding: 15px 20px;

                            strong{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        footer{

            h4{
                text-align: center;
            }

            ul{
                text-align: center;
                list-style-type: none;
            }
            img{
                margin: 0 auto 20px;
                display: block;
            }
        }
    }
}

@media (max-width: 480px){
    body{
        .owl-carousel{
            .carousel-caption{
                h2{
                    font-size: 28px;
                }
            }
        }

        // .navbar-top{
        //     font-size: 14px;
        //     .icon{
        //         font-size: 16px;
        //         margin: 0px;
        //     }

        //     .separator{
        //         margin: 0 2px;
        //     }

        //     .container{
        //         padding: 0px 10px;
        //     }
        // }

        .navbar-top{
            .icon-building{
                margin-left: 30%;
            }

            .separator{
               display: initial;
            }
        }

        section{
            &.testimonials{
                .owl-carousel{
                    .owl-item{
                        padding-left: 0px;
                        .item{
                            height: auto;
                            .photo{
                                margin-left: auto;
                                margin-right: auto;
                                display: block;
                                position: relative;
                            }
                        }
                    }

                    .owl-dots{
                        margin-top: 0px;
                    }
                }
            }

            &.espacios{
                ul{
                    li{
                        width: 100%;
                    }
                }
                .image-view{
                    .info{
                        .text{
                            text-align: center;
                            line-height: 22px;
                            &::after{
                                display: none;
                            }
                        }
                    }
                }

                .banner-leyenda{
                    p{
                        font-size: 28px;
                        line-height: 28px;
                    }
                }
            }

            &.section-title{
                h2{
                    font-size: 30px;
                }
            }

            &.header{
                padding: 80px 0px;
                h1{
                    font-size: 30px;
                }
            }

            &.prototipos{
                .total-deptos{
                    h3{
                        font-size: 20px;
                    }
                }

                .distribucion{
                    margin-top: 35px;

                    h3{
                        font-size: 20px;
                    }

                    ul{
                        column-count: auto;
                        li{
                            padding-left: 25%;
                        }
                    }
                }
            }

            &.call-to-action{
                span[class*="icon-"]{
                    display: block;
                    margin: 0 auto;
                    float: none;
                }

                h2{
                    font-size: 26px;
                    margin-left: 0px;
                    text-align: center;
                }

                p{
                    font-size: 20px;
                    margin-left: 0px;
                    text-align: center;
                }

                .btn{
                    margin-top: 20px;
                }
            }

            &.quienes-somos-desc{
                padding: 60px 0px;
                h2{
                    font-size: 40px;
                }
            }

            &.contact{
                &.page-contact{
                    .oficinas{
                        h3{
                            font-size: 24px;
                        }

                        ul{
                            li{
                                width: 100%;
                                padding: 15px 15px;
                                h5{
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }

            &.developments{
                .info{
                    a{
                        .icon-link{
                            top: 10%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px){
    body{
        .navbar-top{
            font-size: 14px;
            padding: 1.0rem 0rem;
        }
        .navbar-brand{
            max-width: 70%;
        }

        section{
            &.developments{
                .info{
                    a{
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}
