&.developments{
    margin-top: 100px;

    .info{
        position: relative;
        max-width: 565px;
        max-height: 425px;
        overflow: hidden;
        margin-bottom: 30px;

        img{
            transition: transform .3s ease-in;
            max-width: 120%;
        }

        a{
            position: absolute;
            width: 100%;
            max-width: 565px;
            height: 100%;
            top: 0;
            left: 0;
            text-decoration: none;
            padding-top: 25%;
            bottom: 0; 
            right: 0;
            text-align: center;
            transition: background-color .3s ease-out;
            
            .icon-link{
                padding: 7px;
                display: none;
                color: $color-green;
                border:1px solid $color-green;
                width: 37px;
                height: 37px;
                font-size: 20px;
                position: absolute;
                top: 20%;
                left: calc(50% - 18px);
            }

            h3{
                color: white;
                font-family: 'Montserrat-Bold';
                font-size: 36px;
                margin-bottom: 5px;
            }
            p{
                color: white;
                font-family: 'Myriad Pro';
                font-size: 22px;
                margin-bottom: 5px;
            }

            .price{
                color: $color-green;
                font-family: 'Myriad Pro Bold';
                font-style: italic;
                font-size: 24px;

                &::before{
                    content: "";
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: white;
                    margin: 45px auto 15px;
                }
            }
        }

        &:hover{
            img{
                transform: scale(1.1);
            }
            
            a{
                background-color: #00011c;
                opacity: 0.8;

                .icon-link{
                    display: inline-block;
                }
            }
        }
    }

    div[class*="col-"]{
        &:nth-child(3n+1){
            .info{
                margin-left: auto;
            }
        }

        &:nth-child(3n+3){
            .info{
                margin-right: auto;
            }
        }

        &:nth-child(3n+2){
            .info{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}