// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-style: normal;
}

@import url('../fonts/myriad-pro.css');
@import url('../fonts/font-gap.css');

$color-green: #93c317;

.borderR{
    border-right: 1px solid #a9a9a9;
}

.borderB{
    border-bottom: 1px solid #a9a9a9;
}

.card{
    max-width: 450px;
    background-color: #f7f7f7;
    border-radius: 0px;
    margin-bottom: 40px;
    border: 0px;

    img{
        border-radius: 0px;
        max-height: 350px;
    }

    .card-body{
        border: 1px solid #545454;

        h4{
            color: #1b1a45;
            font-size: 24px;
            font-family: 'Myriad Pro Bold';
            font-style: italic;
        }

        p{
            font-size: 16px;
            color: #6f6f6f;
            margin-bottom: 10px;
            font-family: 'Myriad Pro';
            span{
                font-size: 30px;
                color: $color-green;
                margin-right: 15px;
                float: left;
                &::before{
                    vertical-align: middle;
                }
            }
            &:nth-child(1){
                font-size: 18px;
            }

            strong{
                font-family: 'Myriad Pro Bold';
                font-style: italic;
            }
        }
    }
}

#modalAnuncio{
    background-color: rgba(0, 0, 0, 0.7);
    .modal-lg{
        max-width: 1200px;
        
        .modal-body{
            background-color: black;
            padding: 0px;
            .close{
                position: absolute;
                right: -10px;
                top: -10px;
                width: 40px;
                height: 40px;
                background-color: #93c317;
                opacity: 1;
                border-radius: 50%; 
    
                span{
                    color: white;
                    font-size: 40px;
                }
            }

            .mobile{
                display: none;
            }
        }
        
    }
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	color:#656d70;
	line-height:1.8em;
	font-weight:400;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
    -webkit-font-smoothing: antialiased;
    
    .preloader{
        position:fixed;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        z-index:999999;
        background-color:#ffffff;
        background-position:center center;
        background-repeat:no-repeat;
        background-image:url(../images/preloader.svg);
    }

    .navbar-top{
        background-color: #12224d;
        text-align: right;
        font-size: 15px;
        color: #ffffff;

        a{
            color: inherit;
            text-decoration: none;
        }

        .icon{
            color: $color-green;
            font-size: 18px;
            display: inline-block;
            margin: 0 4px;
        }

        .separator{
            display: inline-block;
            margin: 0 6px;
            border-left: solid 1px $color-green;
            height: 15px;
        }

        .shortcut{
            display: inline-block;
            width: auto;
        }
    }

    .navbar{
        &.main{
            padding-bottom: 0;
        }

        .navbar-brand{
            img{
                vertical-align: top;
                margin-top: 10px;
                width: 110px;

                &:nth-child(3){
                    width: 75px;
                }
            }
            .division{
                width: 1px;
                height: 90px;
                background-color: #c7c7c7;
                display: inline-block;
                margin: 0px 20px;
            }
        }

        &.navbar-light{
            .navbar-nav{
                .active{
                    .nav-link{
                        color: #232665;
	                    border-bottom: solid 5px $color-green;
                    }
                }
                .nav-link{
                    font-size: 18px;
                    font-weight: 600;
                    color: #232665;
                    padding: 35px 0 40px;
                    margin-left: 25px;
                    border-bottom: solid 5px white;

                    &:focus,
                    &:hover{
                        color: #232665;
	                    border-bottom: solid 5px $color-green;
                    }
                }
            }
        }
    }

    .btn-contacto{
        background-color: $color-green;
        position: fixed;
        top: 40%;
        left: -65px;
        width: 193px;
        height: 64px;
        z-index: 2;
        padding: 20px 35px;
        transform: rotate(-90deg);
        a{
            color: white;
            font-family: 'Montserrat-Bold';
            font-size: 20px;
            text-decoration: none;
            display: block;

            span{
                display: none;
                font-size: 40px;
                text-align: center;
            }
        }
    }

    .owl-carousel{
        &#main-carousel{
            height: 770px;

            .item-carousel{
                height: 770px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.palacio{
                    background-image: url(../images/slider-1.jpg);
                }

                &.angel{
                    background-image: url(../images/slider-2.jpg);
                }
            }
        }

        .carousel-caption{
            bottom: 80px;

            h2{
                position: relative;
                display: inline-block;
                font-size: 70px;
                font-weight: 700;
                line-height: 1em;
                color: #ffffff;
                margin-bottom: 80px;
                font-family: 'Montserrat-Bold';

                &::after{
                    content: "";
                    position: absolute;
                    bottom: -40px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 145px;
                    height: 6px;
                    background-color: #ffffff;
                }
            }

            .info{
                position: relative;
                display: table;
               // width: 1100px;
                width: 1000px;
                margin: 30px auto;
                background-color: #ffffff;

                .text{
                    width: 42%;
                    display: table-cell;
                    vertical-align: middle;
                    height: auto;
                    background-color: #161842;
                    color: #ffffff;
                    font-size: 38px;
                    line-height: 40px;
                    text-align: left;
                    padding: 30px;
                    font-style: italic;
                    position: relative;
                    font-family: 'Myriad Pro';

                    strong{
                        font-family: 'Myriad Pro Bold';
                        font-style: italic;
                    }

                    &::after{
                        content: "";
                        display: block;
                        width: 26px;
                        height: 50px;
                        background-image: url(../images/arrow-right.png);
                        position: absolute;
                        right: -23px;
                        top: 35px;
                    }
                }

                .cta{
                    display: table-cell;
                    vertical-align: middle;
                    background-color: $color-green;
                    font-family: 'Myriad Pro';
                    padding: 20px;
                    padding-left: 10px;
                    p{
                        font-size: 30px;
                        font-style: italic;
                        display: inline-block;
                        line-height: 35px;
                        text-align: left;
                        span{
                            font-size: 36px;
                            font-family: 'Myriad Pro Bold';
                        }
                    }
                    .btn{
                        background-color: white;
                        color: #12224d;
                        font-weight: bold;
                        width: 245px;
                        height: 58px;
                        font-size: 18px;
                        border-radius: 0px;
                        padding: 15px;
                        vertical-align: top;
                        margin-left: 40px;
                        margin-top: 10px;
                        font-family: 'Montserrat-Bold';

                        &:hover{
                            background-color: #12224d;
                            color: white;
                        }
                    }
                }
            }
        }

        .owl-nav{
            button{
                position: absolute;
                top: 45%;
                outline: none;

                span{
                    font-size: 60px;
                    color: #9c9da0;
                }
                &.owl-next{
                    right: 7%;
                    
                }
                &.owl-prev{
                    left: 7%;
                }
            }
        }

        .owl-dots{
            position: absolute;
            width: 100%;
            bottom: 40px;
            text-align: center;

            .owl-dot{
                display: inline-block;
                position: relative;
                width: 15px;
                height: 15px;
                background-color: transparent;
                border: solid 1px #ffffff;
                border-radius: 15px;
                margin: 5px;
                outline: none;

                &.active{
                    background-color: $color-green;
                    border-color: $color-green;
                }
            }
        }
    }

    section{
        &.intro{
            padding: 120px 0px 105px;

            // h1{
            //     font-family: 'Montserrat-Bold';
            //     text-align: center;
            //     color: #232665;

            //     span{
            //         color: $color-green;
            //     }

            //     &::after{
            //         content: "";
            //         display: block;
            //         width: 63px;
            //         height: 3px;
            //         background-color: $color-green;
            //         margin: 22px auto 0;
            //     }
            // }

            img{
                display: block;
            }

            p{
                font-size: 18px;
                color: #6f6f6f;
                font-family: 'Myriad Pro';
                text-align: center;
                max-width: 755px;
                margin: 27px auto 0;
                strong{
                    font-family: 'Myriad Pro Bold';
                }

                &::before{
                    content: "";
                    display: block;
                    width: 63px;
                    height: 3px;
                    background-color: $color-green;
                    margin: 22px auto 30px;
                }
            }
            
            .features{
                margin-top: 60px;

                div[class*="col-"]{
                    border-right: 1px solid #a9a9a9;

                    &:last-child{
                        border-right: 0px;
                    }
                }

                h3{
                    color: $color-green;
                    font-family: 'Montserrat-Bold';
                    text-align: center;
                    font-size: 37px;
                }
                p{
                    font-family: 'Montserrat';
                    color: #6f6f6f;
                    font-size: 24px;
                    margin-top: 0px;
                }
            }

            .btn{
                width: 211px;
                height: 50px;
                background-color: #232665;
                border-radius: 0px;
                font-family: 'Montserrat-Bold';
                color: white;
                font-size: 18px;
                padding: 12px 0px;
                margin: 70px auto 0;

                &:hover{
                    background-color: $color-green;
                    color: white;
                }
            }
        }

        &.on-sale{
            background: linear-gradient(to right,#151543 0%,#151543 45%,$color-green 45%);
            padding: 90px 0px 30px;
            position: relative;

            &::after{
                content: "";
                display: block;
                width: 100px;
                height: 50px;
                background-image: url(../images/arrow-down.png);
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                bottom: -50px;
                left: 35%;
            }

            h2{
                color: white;
                font-family: 'Montserrat-Bold';
                font-size: 50px;
                margin-top: 50px;
                &::after{
                    content: "";
                    display: block;
                    width: 64px;
                    height: 3px;
                    background-color: $color-green;
                    margin-top: 15px;
                    margin-bottom: 22px;
                }
            }

            p{
                font-size: 18px;
                font-family: 'Myriad Pro';
                color: #b3b3b3;
                display: inline-block;
                max-width: 360px;
            }

            h3{
                font-family: 'Montserrat-Bold';
                color: white;
                font-size: 36px;
                margin-bottom: 45px;
            }

            ul{
                list-style-type: none;
                padding-left: 0px;
                
                li{
                    float: left;
                    width: 50%;
                    margin-bottom: 70px;
                    span{
                        font-size: 60px;
                        display: inline-block;
                        width: 115px;
                        height: 115px;
                        background-color: white;
                        text-align: center;
                        border-radius: 50%;
                        padding-top: 6%;
                        color: #1b1a45;
                    }
                    p{
                        color: white;
                        vertical-align: middle;
                        margin-top: -25px;
                        margin-left: 25px;
                        font-family: 'Myriad Pro';
                        font-size: 26px;
                        strong{
                            display: block;
                            font-family: 'Myriad Pro Bold';
                            font-style: italic;
                        }
                    }
                }
            }
        }

        &.developments{
            margin-top: 100px;
        
            .info{
                position: relative;
                max-width: 565px;
                max-height: 425px;
                overflow: hidden;
                margin-bottom: 30px;
        
                img{
                    transition: transform .3s ease-in;
                    max-width: 120%;
                }
        
                a{
                    position: absolute;
                    width: 100%;
                    max-width: 565px;
                    height: 100%;
                    top: 0;
                    left: 0;
                    text-decoration: none;
                    padding-top: 25%;
                    padding-right: 80px;
                    padding-left: 80px;
                    bottom: 0; 
                    right: 0;
                    text-align: center;
                    transition: background-color .3s ease-out;
                    
                    .icon-link{
                        padding: 7px;
                        display: none;
                        color: $color-green;
                        border:1px solid $color-green;
                        width: 37px;
                        height: 37px;
                        font-size: 20px;
                        position: absolute;
                        top: 20%;
                        left: calc(50% - 18px);
                    }
        
                    h3{
                        color: white;
                        font-family: 'Montserrat-Bold';
                        font-size: 36px;
                        margin-bottom: 5px;
                    }
                    p{
                        color: white;
                        font-family: 'Myriad Pro';
                        font-size: 22px;
                        margin-bottom: 5px;

                        span{
                            &::before{
                                vertical-align: top;
                                margin-right: 10px;
                            }
                        }
                    }
        
                    .price{
                        color: $color-green;
                        font-family: 'Myriad Pro Bold';
                        font-style: italic;
                        font-size: 24px;
        
                        &::before{
                            content: "";
                            display: block;
                            width: 30px;
                            height: 2px;
                            background-color: white;
                            margin: 45px auto 15px;
                        }
                    }
                }
        
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                    
                    a{
                        background-color: #00011c;
                        opacity: 0.8;
        
                        .icon-link{
                            display: inline-block;
                        }
                    }
                }
            }
        
            div[class*="col-"]{
                &:nth-child(3n+1){
                    .info{
                        margin-left: auto;
                    }
                }
        
                &:nth-child(3n+3){
                    .info{
                        margin-right: auto;
                    }
                }
        
                &:nth-child(3n+2){
                    .info{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        &.testimonials{
            background-image: url(../images/background-testimoniales.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 66px 0px 52px;

            .container-fluid{
                max-width: 70%;
            }

            h2{
                font-family: 'Montserrat-Bold';
                font-size: 40px;
                color: white;
                text-align: center;

                &::after{
                    content: "";
                    display: block;
                    margin: 10px auto 25px;
                    width: 48px;
                    height: 4px;
                    background-color: $color-green;
                }
            }

            p{
                font-size: 18px;
                color: #b3b3b3;
                font-family: 'Myriad Pro';
                text-align: center;
            }

            .owl-carousel{
                margin-top: 20px;
                max-width: 95%;
                .owl-item{
                    padding-left: 100px;
                    .item{
                        background-color: $color-green;
                        max-width: 476px;
                        padding-top: 40px;
                        height: 277px;
                        margin: 0 auto;
                        
                        .photo{
                            width: 170px;
                            height: auto;
                            display: inline-block;
                            margin-left: -100px;
                            position: absolute;
                            margin-top: 12px;
                            border: 5px solid white;
                        }

                        .text{
                            width: 65%;
                            display: block;
                            text-align: center;
                            margin:0 auto;
                            h6{
                                font-family: 'Montserrat-Bold';
                                font-size: 22px;
                                color: white;
                                margin-bottom: 20px;
                            }
                            p{
                                color: white;
                                font-family: 'Myriad Pro';
                                font-style: italic;
                                font-size: 20px;
                                height: 100px;
                            }
                        }

                       
                    }
                }

                .owl-dots{
                    position: relative;
                    bottom: 0px;
                    margin-top: 40px;
                }
                
            }
        }

        &.contact{
            margin-top: 80px;
            //padding-bottom: 75px;
            background-color: #ededed;
            position: relative;

            #map{
                height: 100%;
            }


            h2{
                font-family: 'Montserrat-Bold';
                font-size: 50px;
                color: #1b1a45;
                margin-top: 132px;
                margin-left: 25%;

                &::after{
                    content: "";
                    display: block;
                    width: 65px;
                    height: 3px;
                    background-color: $color-green;
                    margin-top: 15px;
                }
            }

            p{
                font-family: 'Myriad Pro';
                font-size: 18px;
                color: #12224d;
                margin-top: 55px;
                margin-left: 25%;
            }

            .form-contact{
                margin-left: 25%;
                margin-bottom: 75px;
                input[type="text"],
                input[type="email"]{
                    border-radius: 0px;
                    height: 53px;
                    color: #a9a9a9;
                    max-width: 547px;
                }
                
                select{
                    height: 53px !important;
                    border-radius: 0px;
                    -webkit-appearance: none; 
                    max-width: 547px;
                    margin-bottom: 10px;
                    position: relative;

                    background: url(../images/down-arrow.png) no-repeat right white;
                    background-size: 15px;
                    background-position-x: 95%;

                }

                textarea{
                    border-radius: 0px;
                    height: 111px;
                    color: #a9a9a9;
                    max-width: 547px;
                }

                #captcha_value{
                    display: inline-block;
                    width: 46%;
                }


                .completar{
                    margin:0px 0px 0px 22px;
                    width: 165px;
                    height: 53px;
                    background-color: $color-green;
                    padding: 15px 35px;
                    display: inline-block;
                    color: white;
                    font-family: 'Myriad Pro';
                    font-size: 18px;
                    text-align: center;
                    vertical-align: top;
                }

                #captcha_value-error{
                    display: block;
                }

                .error{
                    color: red;
                }

                .form-check{
                    label{
                        color: #12224d;
                        font-size: 16px;
                        font-family: 'Myriad Pro';
                        
                        a{
                            font-family: 'Myriad Pro Bold';
                            color: #12224d;
                            text-decoration: underline;
                        }
                    }
                }

                button{
                    width: 210px;
                    height: 50px;
                    background-color: #12224d;
                    border-radius: 0px;
                    border-color: transparent;
                    margin-bottom: 130px;

                    &:hover{
                        background-color: $color-green;
                        color: white;
                    }
                }
            }

            .offices{
                background-color: #191c55;
                opacity: .96;
                max-width: 480px;
                //max-height: 631px;
                padding: 30px 80px 30px 80px;
                position: absolute;
                top: 15%;
                left: 53%;
                z-index: 1;

                .icon-pin{
                    font-size: 47px;
                    color: white;
                    background-color: $color-green;
                    width: 75px;
                    height: 75px;
                    display: block;
                    border-radius: 50%;
                    margin: 0 auto 14px;
                    padding: 15px;
                }

                h6{
                    font-size: 28px;
                    font-family: 'Myriad Pro Bold';
                    color: white;
                    text-align: center;
                    margin-bottom: 20px;
                }

                ul{
                    list-style-type: none;
                    padding-left: 0px;
                    li{
                        position: relative;

                        a{
                            &:hover{
                                text-decoration: none;
                            }
                           
                        }
                        
                        h5{
                            color: $color-green;
                            font-family: 'Myriad Pro Bold';
                            font-style: italic;
                            font-size: 20px;
                            margin-bottom: 0px;
                            &::before{
                                content: "";
                                width: 12px;
                                height: 2px;
                                background-color: $color-green;
                                display: block;
                                position: absolute;
                                left: -20px;
                                top: 10px;
                            }
                        }
                        p{
                            font-family: 'Myriad Pro';
                            font-size: 16px;
                            color: white;
                            margin-top: 0px;
                            margin-left: 0px;
                        }
                    }
                }
            }

            &.page-contact{
                margin-top: 0px;
                
                h2{
                    margin-top: 300px;
                }

                .oficinas{
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    ul{
                        list-style-type: none;
                        padding-left: 0px;
                        width: 87%;
                        // background-color: $color-green;
                        margin: 0 auto;
                        //height: 155px;
                        display: flex;
                        flex-direction: row;
                        li{
                            padding-top: 40px;
                            //width: 350px;
                            //width: calc(25% - 54px);
                            padding-left: 20px;
                            padding-right: 15px;
                            padding-bottom: 15px;

                            &:nth-child(2n +1){
                                background-color: #93c317;
                            }

                            &:first-child{
                                background-color: #1b1a45;
                                width: 300px;
                                h3{
                                    font-size: 30px;
                                    font-family: 'Myriad Pro Bold';
                                    font-style: italic;
                                    color: white;
                                }
                            }

                            &:nth-child(2n +2){
                                background-color: #8bba16;
                            }

                            &:hover{
                                &:not(:first-child){
                                    background-color: white;
                                    border-bottom: 4px solid $color-green;
                                    a{
                                        text-decoration: none;
                                        h5{
                                            color: #1b1a45;
                                            &::before{
                                                background-color: $color-green;
                                            }
                                        }

                                        p{
                                            color: #1b1a45;
                                        }
                                    }
                                }
                            }

                            a{
                                h5{
                                    color:white;
                                    font-family: 'Myriad Pro Bold';
                                    font-style: italic;
                                    font-size: 28px;
                                    margin-bottom: 0px;
                                    position: relative;

                                    &::before{
                                        content: "";
                                        width: 12px;
                                        height: 2px;
                                        background-color: white;
                                        display: inline-block;
                                        position: relative;
                                        vertical-align: middle;
                                        margin-right: 12px;
                                    }
                                }
    
                                p{
                                    font-family: 'Myriad Pro';
                                    font-size: 16px;
                                    color: white;
                                    margin-top: 0px;
                                    margin-left: 0px;
                                }
                            }
                           
                        }
                    }
                }
            }
        }

        &.header{
            background-image: url(../images/header-detalle-desarrollos.png);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 145px 0px 135px;

            h1{
                color: white;
                font-family: 'Montserrat-Bold';
                font-size: 40px;
                text-align: center;

                &::after{
                    content: "";
                    display: block;
                    width: 75px;
                    height: 6px;
                    background-color: white;
                    margin: 15px auto 0px;
                }
            }

            &.quienes-somos{
                background-image: url(../images/header-quienes-somos.png);
                background-size: cover;
            }
        }

        &.espacios{
            padding-top: 100px;
            h2{
                font-size: 37px;
                font-family: 'Montserrat-Bold';
                color: #232665;

                span{
                    color: $color-green;
                }

                &::after{
                    content: "";
                    display: block;
                    width: 64px;
                    height: 3px;
                    background-color: $color-green;
                    margin-top: 22px;
                }
            }

            .direccion{
                // max-width: 350px;
                margin-top: 20px;
                padding-left: 28px;
                font-family: 'Myriad Pro';
                color: #6f6f6f;
                font-size: 18px;

                span{
                    margin-left: -25px;
                    margin-right: 10px;
                    float: left;
                }

                a{
                    text-align: left;
                    color: $color-green;
                    display: block;
                    font-size: 16px;
                    font-family: 'Myriad Pro';
                    text-decoration: underline;
                    padding-left: 10px;
                }
            }

            ul{
                margin-top: 60px;
                margin-bottom: 120px;
                padding-left: 0px;
                list-style-type: none;
                li{
                    display: inline-block;
                    font-size: 18px;
                    font-family: 'Myriad Pro';
                    color: #6f6f6f;
                    position: relative;
                    vertical-align: top;
                    width: 25%;
                    height: 135px;
                    // border: 1px solid #a9a9a9;
                    padding: 27px 80px 0px;
                    text-align: center;

                   
                    // border-bottom: 1px solid #a9a9a9;


                    // &:not(:nth-child(4n + 4)){
                    //     border-right: 1px solid #a9a9a9;
                    // }

                    span{
                        display: block;
                        text-align: center;
                        color: $color-green;
                        font-size: 30px;
                        margin-bottom: 15px;
                        &::before{
                            vertical-align: middle;
                        }
                    }

                    
                }
            }

            .image-view{
                position: relative;
                width: 100%;
                height: 480px;
                // height: 700px;
                background-repeat: no-repeat;
                background-position: center;
                // overflow: hidden;
                // img{
                //     width: 100%;
                // }
                margin-bottom: 30px;

                .info{
                    position: absolute;
                    display: table;
                    width: 670px;
                    margin: 30px auto;
                    background-color: #ffffff;
                    margin-top: -50px;
                    left: 0;
                    right: 0;

                    .text{
                        width: 63%;
                        display: table-cell;
                        vertical-align: middle;
                        height: auto;
                        background-color: #1b1a45;
                        color: #ffffff;
                        font-size: 33px;
                        line-height: 35px;
                        text-align: left;
                        padding: 15px 30px;
                        font-style: italic;
                        position: relative;
                        font-family: 'Myriad Pro';

                        strong{
                            font-family: 'Myriad Pro Bold';
                            font-style: italic;
                            font-size: 33px;
                        }

                        &::after{
                            content: "";
                            display: block;
                            width: 26px;
                            height: 50px;
                            background-image: url(../images/arrow-right.png);
                            background-repeat: no-repeat;
                            position: absolute;
                            right: -22px;
                            top: 35px;
                        }
                    }

                    .cta{
                        display: table-cell;
                        vertical-align: middle;
                        background-color: #93c317;
                        font-family: 'Myriad Pro';
                        padding: 15px 30px;

                        p{
                            font-size: 24px;
                            font-style: italic;
                            display: inline-block;
                            line-height: 35px;
                            text-align: left;
                            color: white;
                            span{
                                font-size: 30px;
                                font-family: 'Myriad Pro Bold';
                                font-style: italic;
                            }
                        }
                    }
                }
            }

            .desarrollo-carousel{
                .owl-item{
                    max-width: 260px;
                    cursor: pointer;
                }

                .owl-nav{
                    button{
                        background-color: $color-green;
                        padding-top: 5px !important;
                        width: 64px;
                        height: 64px;
                        top: 35%;
                        span{
                            color: white;
                            font-size: 35px;
                            text-align: center;
                        }
                        &.owl-prev{
                            left: -2%;
                        }

                        &.owl-next{
                            right: -2%;
                        }
                    }
                }
                
            }

            .banner-leyenda{
                margin-top: 60px;
                p{
                    font-size: 37px;
                    font-family: 'Montserrat-Bold';
                    color: #232665;
                    text-align: center;
                
                    &::after{
                        content: "";
                        display: block;
                        width: 64px;
                        height: 3px;
                        background-color: #93c317;
                        margin: 22px auto;
                    }
                }
            }
        }

        &.section-title{
            background-color: #1b1a45;
            margin-top: 90px;
            padding-top: 70px;

            &.quienes-somos{
                margin-top: 0px;
                padding-top: 40px;
                padding-bottom: 30px;
                h2{
                    &::after{
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }
                }

                p{
                    text-align: center;
                    color: #b3b3b3;
                    font-family: 'Myriad Pro';
                    font-size: 24px;
                }
            }

            h2{
                color:white;
                font-family: 'Montserrat-Bold';
                font-size: 50px;
                text-align: center;

                &::after{
                    content: "";
                    display: block;
                    width: 65px;
                    height: 3px;
                    background-color: $color-green;
                    margin: 28px auto 60px;
                }
            }
        }

        &.call-to-action{
            background-color: $color-green;
            padding: 65px 0px;

            span[class*="icon-"]{
                width: 75px;
                height: 75px;
                font-size: 46px;
                background-color: white;
                color: #1b1a45;
                display: block;
                border-radius: 50%;
                padding: 15px;
                float: left;
            }

            h2{
                color: white;
                font-size: 36px;
                font-family: 'Montserrat-Bold';
                display: block;
                margin-left: 75px + 40px;
            }

            p{
                font-family: 'Myriad Pro';
                font-size: 26px;
                color: white;
               display: block;
               margin-left: 75px + 40px;
            }

            .btn{
                width: 211px;
                height: 50px;
                color: white;
                font-family: 'Montserrat-Bold';
                font-size: 18px;
                background-color: #1b1a45;
                border-radius: 0px;
                padding-top: 12px;
                margin-left: 30px;
                margin-top: 15px;

                &.desarrollos{
                    width: 237px;
                }

                &:hover{
                    background-color: white;
                    color: #1b1a45;
                }

                &::before{
                    content: "";
                    display: block;
                    width: 1px;
                    height: 140px;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    top: -25px;
                }
            }
        }

        &.prototipos{
            //padding-top: 37px;
            // padding-left: 25px;
            .list-items{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: 15px;
                padding-right: 30px;
                .item-prototipo{
                    width: 100%;
                    max-width: 33.3%;
                    //flex-grow: 3;
                    padding-top: 25px;
                    // border-right: 1px solid #a9a9a9;
                    // border-bottom: 1px solid #a9a9a9;
                    
                    h3{
                        font-family: 'Myriad Pro Bold';
                        font-style: italic;
                        font-size: 27px;
                        color: #1b1a45;
                        text-align: center;
                    }
                    p{
                        font-size: 18px;
                        font-family: 'Myriad Pro';
                        color: #6f6f6f;
                        text-align: center;
                        span{
                            color: $color-green;
                            font-size: 30px;

                            &::before{
                                vertical-align: middle;
                            }
                        }
    
                        strong{
                            font-size: 16px;
                        }
                    }

                    &:hover,&.active{
                        background-color: #f7f7f7;
                        cursor: pointer;
                    }
                }
            }

            .total-deptos{
                background-color: #1b1a45;
                padding: 10px 0px 1px;
                margin-left: -15px;
                h3{
                    color: white;
                    font-size: 23px;
                    font-family: 'Myriad Pro Bold';
                    font-style: italic;
                    text-align: center;
                }
            }

            .distribucion{
                margin-top: 70px;
                h3{
                    color: #1b1a45;
                    font-family: 'Montserrat-Bold';
                    font-style: italic;
                    font-size: 30px;
                    text-align: center;
                }

                ul{
                    list-style-type: none;
                    margin-top: 40px;
                    padding-left: 75px;
                    -webkit-column-count: 2;
                        -moz-column-count: 2;
                            column-count: 2;
                    li{
                        font-size: 22px;
                        color: #6f6f6f;
                        font-family: 'Myriad Pro Bold';
                        font-style: italic;
                        margin-bottom: 30px;  
                      
                        span{
                            width: 72px;
                            height: 72px;
                            border-radius: 50%;
                            background-color: #1b1a45;
                            color: $color-green;
                            display: inline-block;
                            font-size: 32px;
                            padding: 17px 20px;
                            margin-right: 25px;
                        }
                    }
                }
            }

            .info-prototipo{
                height: 100%;
                border-left: 1px solid $color-green;
                padding: 75px 0px 100px 20%;
                position: relative;

                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: white;
                    opacity: .8;

                    img{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }

                h3{
                    font-family: 'Myriad Pro Bold';
                    font-style: italic;
                    font-size: 27px;
                    color: #1b1a45;
                    text-align: left;
                    display: inline-block;

                    &::after{
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 28px;
                        background-color: #a9a9a9;
                        vertical-align: middle;
                        margin: 0px 18px;
                    }
                }
                p{
                    font-size: 18px;
                    font-family: 'Myriad Pro';
                    color: #6f6f6f;
                    text-align: left;
                    display: inline-block;
                    span{
                        color: $color-green;
                        font-size: 30px;

                        &::before{
                            vertical-align: middle;
                        }
                    }

                    strong{
                        font-size: 16px;
                    }
                }

                .image-prototipo{
                    max-width: 636px;
                    display: block;
                    box-shadow: 10px 10px 8px 0px #888888;
                }

            }
        }

        /*Página quienes somos*/

        &.quienes-somos-desc{
            padding: 150px 0px 130px;
            h2{
                font-family: 'Montserrat-Bold';
                font-size: 50px;
                color: #232665;
                text-align: center;

                span{
                    color: $color-green;
                }

                &::after{
                    content: "";
                    display: block;
                    background-color: $color-green;
                    width: 64px;
                    height: 3px;
                    margin: 20px auto 26px;
                }
            }

            p{
                font-size: 18px;
                color: #6f6f6f;
                text-align: center;
                margin-top: 15px;
                font-family: 'Myriad Pro';
            }
        }

        &.presencia{
            background-color: $color-green;

            div[class*="container"]{
                padding-right: 0px;
                padding-left: 0px;
            }

            h2{
                color: white;
                font-size: 50px;
                font-family: 'Montserrat-Bold';

                &::after{
                    content: "";
                    display: block;
                    width: 64px;
                    height: 3px;
                    background-color: white;
                    margin: 15px 0px;
                }
            }

            p{
                color: white;
                font-size: 18px;
                font-family: 'Myriad Pro';
                max-width: 320px;
                margin-top: 40px;

                strong{
                    font-family: 'Myriad Pro Bold';
                    font-style: italic;
                }
            }
        }

        &.list-trayectoria{
            padding-top: 85px;

            .card{
                &:hover{
                    box-shadow:3px 3px 4px #c5c5c5;
                }
                .card-body{
                    height: 190px;

                    p{
                        position: relative;
                        padding-left: 40px;
                        span{
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
        }

        &.edificios-generacion{
            padding-top: 100px;
            padding-bottom: 30px;
            div[class*="container"]{
                max-width: 78%;
            }

            .new-generation-carousel{
                .card{
                    margin: 0 auto;
                    .card-body{
                        height: 190px;
                    }
                }
                .owl-nav{
                    button{
                        width: 60px;
                        height: 60px;
                        background-color: $color-green;
                        top: 35%;
                       
                       span{
                           color: white;
                           font-size: 30px;
                       }

                       &.owl-prev{
                           left: calc(0% - 30px);
                       }

                       &.owl-next{
                           right: calc(0% - 30px);
                       }
                    }
                }

                .owl-dots{
                    position: relative;
                    margin-top: 55px;
                    .owl-dot{
                        border: solid 1px #c0c0c0;
                    }
                }
            }
        }

        &.aviso-privacidad{
            padding: 150px 0px 130px;
            h2{
                font-family: 'Montserrat-Bold';
                font-size: 50px;
                color: #232665;
                text-align: center;
                margin-bottom: 20px;

                span{
                    color: $color-green;
                }

                &::after{
                    content: "";
                    display: block;
                    background-color: $color-green;
                    width: 64px;
                    height: 3px;
                    margin: 20px auto 0px;
                }
            }

            h3{
                font-family: 'Montserrat-Bold';
                font-size: 20px;
            }

            p{
                font-size: 18px;
                color: #6f6f6f;
                text-align: justify;
                margin-top: 15px;
            }

            ul{
                li{
                    font-size: 18px;
                }
            }
        }
    }

    footer{
        padding: 55px 0px 0px;

        img{
            vertical-align: top;
            margin-top: 18px;
        }

        .division{
            width: 1px;
            height: 160px;
            background-color: #c7c7c7;
            display: inline-block;
            margin: 0px 20px;
        }

        h4{
            font-family: 'Montserrat-Bold';
            font-size: 18px;
            color: #12224d;
            margin-bottom: 20px;

            a{
                color: #12224d;
                &:hover{
                    color: #12224d;
                }
            }
        }

        .desarrollos{
            padding-left: 14px;
            li{
                font-size: 15px;
                font-family: 'Myriad Pro';
                list-style: none;

                &::before{
                    content: "•"; 
                    color: #191c55;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }

                a{
                    color: #6f6f6f;
                }
            }
        }

        .social{
            list-style-type: none;
            padding-left: 0px;
            li{
                display: inline-block;
                margin-right: 15px;
                a{
                    color: $color-green;
                    font-size: 20px;
                }
            }
        }

        .legal{
            background-color: #12224d;
            text-align: center;
            border-top: 4px solid $color-green;
            padding: 23px 0px;
            margin-top: 30px;
            p{
                font-size: 14px;
                font-family: 'Myriad Pro';
                color: #d1d1d1;
                margin-bottom: 0px;

                a{
                    color: #d1d1d1;

                    &.aviso{
                        color: $color-green;
                        text-decoration: underline;
                        font-family: 'Myriad Pro Bold';
                    }
                }

                strong{
                    font-family: 'Myriad Pro Bold';
                }
            }
        }
    }
}

@import 'responsive';