<!DOCTYPE html>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contacto</title>
</head>
<body>
	<table style="width:600px; height:auto; margin:20px auto; padding:0; background-color:#ffffff; font-family:Helvetica; font-size:16px; color:#000000; border-collapse: collapse; border: 1px solid gray;">
		<thead>
			<tr>
				<th colspan="2" style="background-color:white">
<html>
<head>
					<img style="display:block; margin:5px auto; width: 400px; height:auto;" src="http://clientes.publicidadenlinea.com/gap-metro/images/gap-metropolitana-logo.png" alt="GAP">
				</th>
			</tr>
			<tr>
				<th colspan="2" style="background: #93c317; color:#ffffff; text-align:center;">
					<h1 style="margin: 10px 0; font-size: 20px; font-weight:400;">Información de contacto</h1>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Nombre Completo:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1;"><strong>{%fullname%}</strong></td>
			</tr>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Teléfono:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1;"><strong>{%phone%}</strong></td>
			</tr>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Correo electrónico:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1;"><a href="mailto:{%email%}" style="font-weight:600; text-decoration:underline; color: #000000;">{%email%}</a></td>
			</tr>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Medio de Contacto:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1;"><strong>{%medio%}</strong></td>
			</tr>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Desarrollo de interés:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1;"><strong>{%interes%}</strong></td>
			</tr>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Tipo de crédito:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1;"><strong>{%credito%}</strong></td>
			</tr>
			<tr>
				<td style="padding:15px; width:30%; text-align:right; background-color:#f1f1f1; vertical-align: top;">Mensaje:</td>
				<td style="padding:15px; width:70%; background-color:#f1f1f1; font-weight: 300; font-style: italic;">{%message%}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2" style="background:#ffffff; font-size:14px; font-style: italic; color:#808080; text-align: center; padding: 20px;">Fecha de envío: {%date%}</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>