@charset "UTF-8";

@font-face {
  font-family: "gap";
  src:url("gap.eot");
  src:url("gap.eot?#iefix") format("embedded-opentype"),
    url("gap.woff") format("woff"),
    url("gap.ttf") format("truetype"),
    url("gap.svg#gap") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gap" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gap" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\61";
}
.icon-right:before {
  content: "\62";
}
.icon-area:before {
  content: "\63";
}
.icon-building:before {
  content: "\64";
}
.icon-card:before {
  content: "\65";
}
.icon-facebook:before {
  content: "\66";
}
.icon-link:before {
  content: "\67";
}
.icon-phone:before {
  content: "\68";
}
.icon-pin:before {
  content: "\69";
}
.icon-route:before {
  content: "\6a";
}
.icon-store:before {
  content: "\6b";
}
.icon-train:before {
  content: "\6c";
}
.icon-twitter:before {
  content: "\6d";
}
.icon-youtube:before {
  content: "\6e";
}
.icon-bodegas:before {
  content: "\6f";
}
.icon-garage:before {
  content: "\70";
}
.icon-toilet:before {
  content: "\71";
}
.icon-edificio:before {
  content: "\72";
}
.icon-kitchen:before {
  content: "\73";
}
.icon-room:before {
  content: "\74";
}
.icon-precio:before {
  content: "\75";
}
.icon-mail:before {
  content: "\76";
}
.icon-elevador:before {
  content: "\77";
}
.icon-acceso-controlado:before {
  content: "\78";
}
.icon-gimnasio:before {
  content: "\79";
}
.icon-juegos:before {
  content: "\7a";
}
.icon-usos-multiples:before {
  content: "\41";
}
.icon-areas-comunes:before {
  content: "\42";
}
.icon-biciestacionamiento:before {
  content: "\43";
}
.icon-ecotecnologia:before {
  content: "\44";
}
.icon-whatsapp:before {
  content: "\45";
}
